Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

feat(emqx): manage MQTT broker LXC (#1032)
  ansible/inventories/emqx.yml
  ansible/playbooks/emqx_lxc.yml
  ansible/roles/emqx/defaults/main.yml
  ansible/roles/emqx/tasks/main.yml
  terraform/instances/lxc/emqx/ansible_inventory.tf
  terraform/instances/lxc/emqx/lxc_definition.tf
  terraform/instances/lxc/emqx/main.tf
  terraform/instances/lxc/emqx/providers.tf
  terraform/instances/lxc/emqx/variables.tf
  terraform/modules/proxmox/lxc/main.tf
Due: ansible-lint, terraform-fmt

chore(deps): Update berriai/litellm Docker tag to v1.98.0
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

feat(ansible): enable LXC automatic updates
  ansible/roles/lxc_bootstrap/README.md
  ansible/roles/lxc_bootstrap/defaults/main.yml
  ansible/roles/lxc_bootstrap/tasks/main.yml
  ansible/roles/lxc_bootstrap/templates/20auto-upgrades.j2
  ansible/roles/lxc_bootstrap/templates/50unattended-upgrades.j2
  ansible/roles/lxc_bootstrap/templates/dnf-automatic-timer-override.conf.j2
  ansible/roles/lxc_bootstrap/templates/dnf-automatic.conf.j2
Due: ansible-lint

fix(ansible): handle automatic update opt-out
  ansible/roles/lxc_bootstrap/tasks/main.yml
  ansible/roles/lxc_bootstrap/templates/20auto-upgrades.j2
Due: ansible-lint

fix(ansible): match Debian security updates
  ansible/roles/lxc_bootstrap/templates/50unattended-upgrades.j2
Due: ansible-lint

feat(ansible): enable LXC automatic updates (#1034)
  ansible/roles/lxc_bootstrap/README.md
  ansible/roles/lxc_bootstrap/defaults/main.yml
  ansible/roles/lxc_bootstrap/tasks/main.yml
  ansible/roles/lxc_bootstrap/templates/20auto-upgrades.j2
  ansible/roles/lxc_bootstrap/templates/50unattended-upgrades.j2
  ansible/roles/lxc_bootstrap/templates/dnf-automatic-timer-override.conf.j2
  ansible/roles/lxc_bootstrap/templates/dnf-automatic.conf.j2
Due: ansible-lint

chore(tooling): install Ansible collections
  scripts/bootstrap-host-tools.sh
Due: none

feat(kubernetes): add ESPHome build server
  kubernetes/apps/apps/automation/esphome-builder/helmrelease.yaml
  kubernetes/apps/apps/automation/esphome-builder/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/automation/esphome-builder-config-pvc.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): add HelmRelease schema metadata
  kubernetes/apps/apps/automation/esphome-builder/helmrelease.yaml
Due: none

fix(kubernetes): reduce ESPHome CPU request
  kubernetes/apps/apps/automation/esphome-builder/helmrelease.yaml
Due: none

feat(kubernetes): add ESPHome build server (#1035)
  kubernetes/apps/apps/automation/esphome-builder/helmrelease.yaml
  kubernetes/apps/apps/automation/esphome-builder/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/automation/esphome-builder-config-pvc.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update berriai/litellm Docker tag to v1.98.0 (#1033)
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

feat(ansible): source ssh keys from 1password
  ansible/inventories/group_vars/all.yml
  ansible/roles/lxc_hardening/tasks/main.yml
  ansible/roles/ssh_hardening/defaults/main.yml
  ansible/roles/ssh_hardening/tasks/ssh.yml
Due: ansible-lint

feat(packer): source ssh keys from 1password
  SECURITY.md
  packer/AGENTS.md
  packer/fedora-43-server/build.sh
  packer/scripts/build-ubuntu-template.sh
  packer/scripts/fetch-ssh-keys.sh
  packer/scripts/generate-autoinstall.sh
  scripts/bootstrap-host-tools.sh
Due: none

feat(terraform): source ssh keys from 1password
  SECURITY.md
  terraform/AGENTS.md
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/cloud/hetzner/ssh_keys/main.tf
  terraform/cloud/hetzner/ssh_keys/providers.tf
  terraform/cloud/hetzner/ssh_keys/ssh_key_definition.tf
  terraform/instances/lxc/emqx/providers.tf
  terraform/instances/lxc/garage_s3/.terraform.lock.hcl
  terraform/instances/lxc/garage_s3/providers.tf
  terraform/instances/lxc/llm/providers.tf
  terraform/instances/lxc/photon/providers.tf
  terraform/instances/vm/hermes/providers.tf
  terraform/instances/vm/k3s_nodes/providers.tf
  terraform/modules/proxmox/lxc/README.md
  terraform/modules/proxmox/lxc/main.tf
  terraform/modules/proxmox/lxc/providers.tf
  terraform/modules/proxmox/lxc/variables.tf
  terraform/modules/proxmox/vm/README.md
  terraform/modules/proxmox/vm/main.tf
  terraform/modules/proxmox/vm/providers.tf
  terraform/modules/proxmox/vm/variables.tf
  terraform/scripts/fetch-ssh-public-keys.sh
Due: terraform-fmt

fix(ansible): reject empty 1password key selection
  ansible/roles/ssh_hardening/tasks/ssh.yml
Due: ansible-lint

chore(deps): Update Helm release kube-prometheus-stack to v88.4.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.4.0 (#1037)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat: source ssh keys from 1password (#1036)
  SECURITY.md
  ansible/inventories/group_vars/all.yml
  ansible/roles/lxc_hardening/tasks/main.yml
  ansible/roles/ssh_hardening/defaults/main.yml
  ansible/roles/ssh_hardening/tasks/ssh.yml
  packer/AGENTS.md
  packer/fedora-43-server/build.sh
  packer/scripts/build-ubuntu-template.sh
  packer/scripts/fetch-ssh-keys.sh
  packer/scripts/generate-autoinstall.sh
  scripts/bootstrap-host-tools.sh
  terraform/AGENTS.md
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/cloud/hetzner/ssh_keys/main.tf
  terraform/cloud/hetzner/ssh_keys/providers.tf
  terraform/cloud/hetzner/ssh_keys/ssh_key_definition.tf
  terraform/instances/lxc/emqx/providers.tf
  terraform/instances/lxc/garage_s3/.terraform.lock.hcl
  terraform/instances/lxc/garage_s3/providers.tf
  terraform/instances/lxc/llm/providers.tf
  terraform/instances/lxc/photon/providers.tf
  terraform/instances/vm/hermes/providers.tf
  terraform/instances/vm/k3s_nodes/providers.tf
  terraform/modules/proxmox/lxc/README.md
  terraform/modules/proxmox/lxc/main.tf
  terraform/modules/proxmox/lxc/providers.tf
  terraform/modules/proxmox/lxc/variables.tf
  terraform/modules/proxmox/vm/README.md
  terraform/modules/proxmox/vm/main.tf
  terraform/modules/proxmox/vm/providers.tf
  terraform/modules/proxmox/vm/variables.tf
  terraform/scripts/fetch-ssh-public-keys.sh
Due: ansible-lint, terraform-fmt

chore(deps): Update binhex/arch-sabnzbdvpn Docker tag to v5.1.1
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
Due: none

chore(deps): Update binhex/arch-sabnzbdvpn Docker tag to v5.1.1 (#1038)
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.5.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.5.0 (#1039)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update esphome/esphome Docker tag to v2026.8.1
  kubernetes/apps/apps/automation/esphome-builder/helmrelease.yaml
Due: none

chore(deps): Update Helm release authentik to v2026.8.0
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release authentik to v2026.8.0 (#1041)
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: none

chore(deps): Update esphome/esphome Docker tag to v2026.8.1 (#1040)
  kubernetes/apps/apps/automation/esphome-builder/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.36.6
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.36.6 (#1042)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release metrics-server to v3.14.0
  kubernetes/infrastructure/observability/metrics-server/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release metrics-server to v3.14.0 (#1043)
  kubernetes/infrastructure/observability/metrics-server/install/helmrelease.yaml
Due: none

feat: manage Zigbee2MQTT LXC
  ansible/inventories/group_vars/llm_lxc.yml
  ansible/inventories/group_vars/zigbee2mqtt_lxc.yml
  ansible/playbooks/zigbee2mqtt_lxc.yml
  ansible/roles/containers/zigbee2mqtt/defaults/main.yml
  ansible/roles/containers/zigbee2mqtt/handlers/main.yml
  ansible/roles/containers/zigbee2mqtt/tasks/main.yml
  ansible/roles/containers/zigbee2mqtt/templates/docker-compose.yml.j2
  ansible/roles/containers/zigbee2mqtt/templates/zigbee2mqtt-container.service.j2
  terraform/instances/lxc/zigbee2mqtt/ansible_inventory.tf
  terraform/instances/lxc/zigbee2mqtt/lxc_definition.tf
  terraform/instances/lxc/zigbee2mqtt/main.tf
  terraform/instances/lxc/zigbee2mqtt/providers.tf
  terraform/instances/lxc/zigbee2mqtt/variables.tf
Due: ansible-lint, terraform-fmt

chore(ansible): add z2m inventory file
  ansible/inventories/zigbee2mqtt.yml
Due: ansible-lint

feat: manage Zigbee2MQTT LXC (#1044)
  ansible/inventories/group_vars/llm_lxc.yml
  ansible/inventories/group_vars/zigbee2mqtt_lxc.yml
  ansible/inventories/zigbee2mqtt.yml
  ansible/playbooks/zigbee2mqtt_lxc.yml
  ansible/roles/containers/zigbee2mqtt/defaults/main.yml
  ansible/roles/containers/zigbee2mqtt/handlers/main.yml
  ansible/roles/containers/zigbee2mqtt/tasks/main.yml
  ansible/roles/containers/zigbee2mqtt/templates/docker-compose.yml.j2
  ansible/roles/containers/zigbee2mqtt/templates/zigbee2mqtt-container.service.j2
  terraform/instances/lxc/zigbee2mqtt/ansible_inventory.tf
  terraform/instances/lxc/zigbee2mqtt/lxc_definition.tf
  terraform/instances/lxc/zigbee2mqtt/main.tf
  terraform/instances/lxc/zigbee2mqtt/providers.tf
  terraform/instances/lxc/zigbee2mqtt/variables.tf
Due: ansible-lint, terraform-fmt

chore(deps): Update Helm release loki to v18.9.1
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v1.63.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v1.63.0 (#1046)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.9.1 (#1045)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.4.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none
