Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(homepage): remove unused api keys
  kubernetes/apps/apps/utils/homepage/homepage-secrets.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release kube-prometheus-stack to v88.1.2
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(secrets): rotate crowdsec bouncer keys
  kubernetes/infrastructure/security/crowdsec/install/opnsense-bouncer-secret.sops.yaml
  kubernetes/infrastructure/security/crowdsec/install/traefik-bouncer-secret.sops.yaml
Due: sops-auto-encrypt

chore(secrets): rotate authentik and dawarich credentials
  kubernetes/apps/apps/utils/dawarich/dawarich-secrets.sops.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update n8nio/n8n Docker tag to v2.34.4
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.1.2 (#919)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.4 (#918)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.1.3
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.1.3 (#920)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release harbor to v1.19.2
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release harbor to v1.19.2 (#921)
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v41.1.1
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v41.1.1 (#922)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.52.0
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.52.0 (#923)
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
Due: none

feat(kubernetes): add scrob
  kubernetes/apps/apps/media/scrob/cnpg-cluster.yaml
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
  kubernetes/apps/apps/media/scrob/kustomization.yaml
  kubernetes/apps/apps/media/scrob/scrob-db-secrets.sops.yaml
  kubernetes/apps/apps/media/scrob/scrob-secrets.sops.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/media/kustomization.yaml
  kubernetes/apps/storage/pvcs/media/scrob-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/scrob-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): unpin scrob image
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

fix(kubernetes): replicate cnpg backup secret
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
Due: sops-auto-encrypt

feat(kubernetes): add scrob (#924)
  kubernetes/apps/apps/media/scrob/cnpg-cluster.yaml
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
  kubernetes/apps/apps/media/scrob/kustomization.yaml
  kubernetes/apps/apps/media/scrob/scrob-db-secrets.sops.yaml
  kubernetes/apps/apps/media/scrob/scrob-secrets.sops.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/media/kustomization.yaml
  kubernetes/apps/storage/pvcs/media/scrob-pvc.yaml
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/scrob-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): use async Scrob database driver
  kubernetes/apps/apps/media/scrob/scrob-db-secrets.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): use async Scrob database driver (#925)
  kubernetes/apps/apps/media/scrob/scrob-db-secrets.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): disable Scrob password auth
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

fix(kubernetes): disable Scrob password auth (#926)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

feat(kubernetes): automate Jellyfin webhooks
  kubernetes/apps/apps/media/jellyfin/automation-config.yaml
  kubernetes/apps/apps/media/jellyfin/automation-cronjob.yaml
  kubernetes/apps/apps/media/jellyfin/jellyfin-automation-secret.sops.yaml
Due: sops-auto-encrypt

feat(kubernetes): automate Jellyfin webhooks (#927)
  kubernetes/apps/apps/media/jellyfin/automation-config.yaml
  kubernetes/apps/apps/media/jellyfin/automation-cronjob.yaml
  kubernetes/apps/apps/media/jellyfin/jellyfin-automation-secret.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update arabcoders/watchstate Docker tag to v1.10.2
  kubernetes/apps/apps/media/watchstate/helmrelease.yaml
Due: none

chore(deps): Update arabcoders/watchstate Docker tag to v1.10.2 (#928)
  kubernetes/apps/apps/media/watchstate/helmrelease.yaml
Due: none

fix(jellyfin): scope Scrob webhook to user
  kubernetes/apps/apps/media/jellyfin/automation-config.yaml
Due: none

feat(unraid): add Authentik SSO
  kubernetes/apps/apps/external-proxy/unraid.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/unraid-sso-secret.sops.yaml
Due: sops-auto-encrypt

feat(unraid): add Authentik SSO (#929)
  kubernetes/apps/apps/external-proxy/unraid.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/unraid-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(unraid): include OIDC authorization parameters
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(kubernetes): remove LibreChat
  kubernetes/apps/apps/ai/librechat/configmap.yaml
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/ai/librechat/kustomization.yaml
  kubernetes/apps/apps/ai/librechat/librechat-secrets.sops.yaml
  kubernetes/apps/apps/ai/librechat/librechat-vectordb-secrets.sops.yaml
  kubernetes/apps/apps/ai/librechat/middleware-admin-oauth-sanitize.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-data-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-meilisearch-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-mongodb-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-vectordb-pvc.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/librechat-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): clean up LibreChat state
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

chore(kubernetes): remove LibreChat (#930)
  kubernetes/apps/apps/ai/librechat/configmap.yaml
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/ai/librechat/kustomization.yaml
  kubernetes/apps/apps/ai/librechat/librechat-secrets.sops.yaml
  kubernetes/apps/apps/ai/librechat/librechat-vectordb-secrets.sops.yaml
  kubernetes/apps/apps/ai/librechat/middleware-admin-oauth-sanitize.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-data-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-meilisearch-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-mongodb-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-vectordb-pvc.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/librechat-sso-secret.sops.yaml
Due: sops-auto-encrypt

chore(homepage): disable NetBird card
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(kubernetes): remove Harbor registry
  .opencode/skills/cluster-bootstrap-restore/SKILL.md
  .opencode/skills/k8s-app-onboarding/SKILL.md
  SECURITY.md
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
  docs/kubernetes-bootstrap.md
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/ks/63-harbor-install.yaml
  kubernetes/clusters/production/ks/64-harbor-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-cronjob.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/config/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
  kubernetes/infrastructure/registry/harbor/install/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/install/servicemonitor.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/sources/harbor.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
  renovate.json
Due: ansible-lint, sops-auto-encrypt

docs(kubernetes): simplify registry guidance
  .opencode/skills/cluster-bootstrap-restore/SKILL.md
  .opencode/skills/k8s-app-onboarding/SKILL.md
  docs/kubernetes-bootstrap.md
Due: none

fix(k3s): preserve node registry auth
  .opencode/skills/cluster-bootstrap-restore/SKILL.md
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
  docs/kubernetes-bootstrap.md
Due: ansible-lint

chore(kubernetes): remove Harbor registry (#931)
  .opencode/skills/cluster-bootstrap-restore/SKILL.md
  .opencode/skills/k8s-app-onboarding/SKILL.md
  SECURITY.md
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
  docs/kubernetes-bootstrap.md
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/ks/63-harbor-install.yaml
  kubernetes/clusters/production/ks/64-harbor-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-cronjob.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/config/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
  kubernetes/infrastructure/registry/harbor/install/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/install/servicemonitor.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/sources/harbor.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
  renovate.json
Due: ansible-lint, sops-auto-encrypt
