Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

chore(deps): Update vectorize-io/hindsight-control-plane Docker tag to v0.10.1
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

chore(deps): Update Helm release app-template to v5.2.1
  kubernetes/components/bjw-s-defaults/kustomization.yaml
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update vectorize-io/hindsight-control-plane Docker tag to v0.10.1 (#1304)
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

chore(deps): Update Helm release app-template to v5.2.1 (#1305)
  kubernetes/components/bjw-s-defaults/kustomization.yaml
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v41.6.0
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.18.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v41.6.0 (#1306)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.18.0 (#1307)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.102.1
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

chore(deps): Update freikin/dawarich Docker tag to v1.15.2
  kubernetes/apps/apps/utils/dawarich/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.54.0
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.54.0 (#1310)
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
Due: none

refactor(apprise): name personal notification route
  kubernetes/apps/apps/notifications/apprise/apprise-secrets.sops.yaml
  kubernetes/apps/apps/notifications/apprise/helmrelease.yaml
Due: sops-auto-encrypt

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.5.8
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-frontend Docker tag to v3.5.8
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.5.8 (#1311)
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-frontend Docker tag to v3.5.8 (#1312)
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/kometa Docker tag to v2.5.1
  kubernetes/apps/apps/media/plex-media-enrichment/kometa-job.yaml
Due: none

chore(deps): Update linuxserver/kometa Docker tag to v2.5.1 (#1313)
  kubernetes/apps/apps/media/plex-media-enrichment/kometa-job.yaml
Due: none

chore(deps): Update freikin/dawarich Docker tag to v1.15.2 (#1309)
  kubernetes/apps/apps/utils/dawarich/helmrelease.yaml
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.102.1 (#1308)
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(omniroute): pin image with combo authorization fix
  ansible/roles/containers/omniroute/defaults/main.yml
Due: ansible-lint

chore(deps): Update Helm release intel-device-plugins-gpu to v0.37.0
  kubernetes/infrastructure/gpu/intel-gpu-plugin/helmrelease.yaml
Due: none

chore(deps): Update Helm release intel-device-plugins-operator to v0.37.0
  kubernetes/infrastructure/gpu/intel-device-plugins-operator/helmrelease.yaml
Due: none

chore(deps): Update Helm release intel-device-plugins-gpu to v0.37.0 (#1314)
  kubernetes/infrastructure/gpu/intel-gpu-plugin/helmrelease.yaml
Due: none

chore(deps): Update Helm release intel-device-plugins-operator to v0.37.0 (#1315)
  kubernetes/infrastructure/gpu/intel-device-plugins-operator/helmrelease.yaml
Due: none

fix(llama-swap): use maker-prefixed model IDs
  ansible/inventories/group_vars/omniroute_vms.yml
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: ansible-lint

fix(llama-swap): use maker-prefixed model IDs (#1316)
  ansible/inventories/group_vars/omniroute_vms.yml
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: ansible-lint

chore(omniroute): retire legacy model metadata
  ansible/inventories/group_vars/omniroute_vms.yml
Due: ansible-lint

chore(omniroute): retire legacy model metadata (#1317)
  ansible/inventories/group_vars/omniroute_vms.yml
Due: ansible-lint

chore(deps): Update linuxserver/bazarr Docker tag to v1.6.2
  kubernetes/apps/apps/media/bazarr/helmrelease.yaml
Due: none

feat(omniroute): add SillyTavern and Vane keys
  ansible/inventories/group_vars/omniroute_vms.yml
Due: ansible-lint

feat(omniroute): add SillyTavern and Vane keys (#1319)
  ansible/inventories/group_vars/omniroute_vms.yml
Due: ansible-lint

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.5.9
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-frontend Docker tag to v3.5.9
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.5.9 (#1320)
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-frontend Docker tag to v3.5.9 (#1321)
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(sure): remove Sure deployment and integrations
  ansible/inventories/group_vars/omniroute_vms.yml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/cnpg-cluster.yaml
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/kustomization.yaml
  kubernetes/apps/apps/utils/sure/sure-db-secrets.sops.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/sure-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/sure-valkey-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/sure-sso-secret.sops.yaml
Due: ansible-lint, sops-auto-encrypt

chore(deps): Update bellamy/scrob Docker tag to v2.19.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.19.0 (#1322)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
