Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps): Update n8nio/n8n Docker tag to v2.37.4 (#1066)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/tautulli Docker tag to v2.18.1
  kubernetes/apps/apps/media/tautulli/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/tautulli Docker tag to v2.18.1 (#1067)
  kubernetes/apps/apps/media/tautulli/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.11.1
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.11.1 (#1068)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.11.2
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.11.2 (#1069)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(ansible): add item to hermes path
  ansible/roles/hermes/templates/hermes-gateway.service.j2
Due: ansible-lint

feat(iac): use 1password service account for keys
  SECURITY.md
  ansible/inventories/group_vars/all.yml
  ansible/roles/ssh_hardening/defaults/main.yml
  ansible/roles/ssh_hardening/tasks/ssh.yml
  packer/scripts/fetch-ssh-keys.sh
  terraform/AGENTS.md
  terraform/scripts/fetch-ssh-public-keys.sh
Due: ansible-lint

feat(iac): use 1password service account for keys (#1070)
  SECURITY.md
  ansible/inventories/group_vars/all.yml
  ansible/roles/ssh_hardening/defaults/main.yml
  ansible/roles/ssh_hardening/tasks/ssh.yml
  packer/scripts/fetch-ssh-keys.sh
  terraform/AGENTS.md
  terraform/scripts/fetch-ssh-public-keys.sh
Due: ansible-lint

chore(deps): Update Helm release kube-prometheus-stack to v88.5.4
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88.5.4 (#1071)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

refactor(development): simplify dev workstation tooling
  ansible/inventories/group_vars/development_vms.yml
  ansible/playbooks/development.yml
  ansible/roles/development_workstation/defaults/main.yml
  ansible/roles/development_workstation/handlers/main.yml
  ansible/roles/development_workstation/tasks/binaries.yml
  ansible/roles/development_workstation/tasks/code-server.yml
  ansible/roles/development_workstation/tasks/dev-tools.yml
  ansible/roles/development_workstation/tasks/herdr.yml
  ansible/roles/development_workstation/tasks/main.yml
  ansible/roles/development_workstation/tasks/repositories.yml
  ansible/roles/development_workstation/tasks/uv.yml
Due: ansible-lint

refactor(development): remove obsolete setup
  ansible/inventories/group_vars/development_vms.yml
  ansible/roles/development_workstation/defaults/main.yml
  ansible/roles/development_workstation/tasks/code-server.yml
Due: ansible-lint

feat(ansible): enable Mosh access
  ansible/inventories/group_vars/development_vms.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/tasks/os-debian.yml
  ansible/roles/common/tasks/os-fedora.yml
  ansible/roles/development_workstation/defaults/main.yml
  ansible/roles/ufw/defaults/main.yml
  ansible/roles/ufw/tasks/main.yml
Due: ansible-lint

fix(homebrew): support fresh-host check mode
  ansible/roles/homebrew/tasks/brew-packages.yml
Due: ansible-lint

fix(hermes): add local binary path
  ansible/roles/hermes/templates/hermes-dashboard.service.j2
Due: ansible-lint

refactor(development): simplify dev workstation tooling (#1072)
  ansible/inventories/group_vars/development_vms.yml
  ansible/playbooks/development.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/tasks/os-debian.yml
  ansible/roles/common/tasks/os-fedora.yml
  ansible/roles/development_workstation/defaults/main.yml
  ansible/roles/development_workstation/handlers/main.yml
  ansible/roles/development_workstation/tasks/binaries.yml
  ansible/roles/development_workstation/tasks/code-server.yml
  ansible/roles/development_workstation/tasks/dev-tools.yml
  ansible/roles/development_workstation/tasks/herdr.yml
  ansible/roles/development_workstation/tasks/main.yml
  ansible/roles/development_workstation/tasks/repositories.yml
  ansible/roles/development_workstation/tasks/uv.yml
  ansible/roles/hermes/templates/hermes-dashboard.service.j2
  ansible/roles/homebrew/tasks/brew-packages.yml
  ansible/roles/ufw/defaults/main.yml
  ansible/roles/ufw/tasks/main.yml
Due: ansible-lint

fix(media): increase kometa memory limit
  kubernetes/apps/apps/media/plex-media-enrichment/kometa-job.yaml
Due: none

fix(ansible): restrict Hermes UFW rules to LAN
  ansible/inventories/group_vars/hermes_vms.yml
Due: ansible-lint

feat(n8n): add Hermes webhook secret
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/n8n-secrets.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update maziggy/bambuddy Docker tag to v1.2.5.4
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

chore(deps): Update maziggy/bambuddy Docker tag to v1.2.5.4 (#1073)
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

chore: testing webhook
  delete
Due: none

chore: testing webhook - 2
  delete
Due: none

fix(n8n): allow env var access in Code nodes
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

fix(n8n): allow env var access in Code nodes (#1075)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore: testing webhook - 3
  delete
Due: none

chore: testing webhook - 4
  delete
Due: none

chore: testing webhook - 5
  delete
Due: none

chore: testing webhook - 6
  delete
Due: none

chore(deps): Update Helm release alloy to v1.12.0
  kubernetes/infrastructure/observability/alloy-syslog/install/helmrelease.yaml
  kubernetes/infrastructure/observability/alloy/install/helmrelease.yaml
Due: none

feat(n8n): add AI Assistant sandbox VM
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/n8n_sandbox_vms.yml
  ansible/inventories/n8n-sandbox.yml
  ansible/playbooks/n8n_sandbox.yml
  ansible/roles/containers/n8n_sandbox/defaults/main.yml
  ansible/roles/containers/n8n_sandbox/handlers/main.yml
  ansible/roles/containers/n8n_sandbox/tasks/main.yml
  ansible/roles/containers/n8n_sandbox/templates/docker-compose.yml.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.service.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.sh.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox.service.j2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/automation/n8n/n8n-sandbox-secrets.sops.yaml
  kubernetes/apps/apps/automation/n8n/n8n-secrets.sops.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  terraform/instances/vm/n8n_sandbox/ansible_inventory.tf
  terraform/instances/vm/n8n_sandbox/main.tf
  terraform/instances/vm/n8n_sandbox/providers.tf
  terraform/instances/vm/n8n_sandbox/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

chore(deps): Update Helm release alloy to v1.12.0 (#1076)
  kubernetes/infrastructure/observability/alloy-syslog/install/helmrelease.yaml
  kubernetes/infrastructure/observability/alloy/install/helmrelease.yaml
Due: none

docs(agents): document accepted design choices for reviewers
  AGENTS.md
Due: none

docs(agents): document accepted design choices for reviewers (#1078)
  AGENTS.md
Due: none

feat(litellm): add local coder alias
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

fix(n8n): use local coder for AI sandbox
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

feat(n8n): add AI Assistant sandbox VM (#1077)
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/n8n_sandbox_vms.yml
  ansible/inventories/n8n-sandbox.yml
  ansible/playbooks/n8n_sandbox.yml
  ansible/roles/containers/n8n_sandbox/defaults/main.yml
  ansible/roles/containers/n8n_sandbox/handlers/main.yml
  ansible/roles/containers/n8n_sandbox/tasks/main.yml
  ansible/roles/containers/n8n_sandbox/templates/docker-compose.yml.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.service.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.sh.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox.service.j2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/automation/n8n/n8n-sandbox-secrets.sops.yaml
  kubernetes/apps/apps/automation/n8n/n8n-secrets.sops.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  terraform/instances/vm/n8n_sandbox/ansible_inventory.tf
  terraform/instances/vm/n8n_sandbox/main.tf
  terraform/instances/vm/n8n_sandbox/providers.tf
  terraform/instances/vm/n8n_sandbox/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

feat(n8n): configure AI Assistant web search
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none
