Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps): Update bellamy/scrob Docker tag to v2.15.1 (#1167)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

feat(external-secrets): migrate final simple app secrets
  kubernetes/apps/apps/media/jellyfin/externalsecret.yaml
  kubernetes/apps/apps/media/jellyfin/jellyfin-automation-secret.sops.yaml
  kubernetes/apps/apps/media/jellyfin/kustomization.yaml
  kubernetes/apps/apps/media/watchstate/externalsecret.yaml
  kubernetes/apps/apps/media/watchstate/kustomization.yaml
  kubernetes/apps/apps/media/watchstate/secret.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release kube-prometheus-stack to v89.2.2 (#1166)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(external-secrets): reduce 1Password polling
  kubernetes/apps/apps/development/gitea/externalsecret.yaml
  kubernetes/apps/apps/external-observability/omada-exporter/externalsecret.yaml
  kubernetes/apps/apps/external-observability/opnsense-exporter/externalsecret.yaml
  kubernetes/apps/apps/media/jellyfin-exporter/externalsecret.yaml
  kubernetes/apps/apps/media/jellyfin/externalsecret.yaml
  kubernetes/apps/apps/media/jellyplex-watched/externalsecret.yaml
  kubernetes/apps/apps/media/lidatube/externalsecret.yaml
  kubernetes/apps/apps/media/plex-exporter/externalsecret.yaml
  kubernetes/apps/apps/media/tautulli/externalsecret.yaml
  kubernetes/apps/apps/media/watchstate/externalsecret.yaml
  kubernetes/apps/apps/storage/garage-webui/externalsecret.yaml
  kubernetes/apps/apps/utils/airtrail/externalsecret-integrations.yaml
  kubernetes/apps/apps/utils/searxng/externalsecret.yaml
  kubernetes/infrastructure/automation/renovate/externalsecret.yaml
  kubernetes/infrastructure/security/external-secrets/config/clustersecretstore.yaml
Due: none

fix(plex-exporter): use compatible parser image
  kubernetes/apps/apps/media/plex-exporter/helmrelease.yaml
Due: none

chore(deps): Update gethomepage/homepage Docker tag to v2.3.0
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(deps): Update gethomepage/homepage Docker tag to v2.3.0 (#1168)
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

refactor(external-secrets): remove unused operator
  kubernetes/clusters/production/ks/32-external-secrets-install.yaml
  kubernetes/clusters/production/ks/33-external-secrets-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/security/external-secrets/config/clustersecretstore.yaml
  kubernetes/infrastructure/security/external-secrets/config/kustomization.yaml
  kubernetes/infrastructure/security/external-secrets/config/onepassword-eso-token.sops.yaml
  kubernetes/infrastructure/security/external-secrets/install/helmrelease.yaml
  kubernetes/infrastructure/security/external-secrets/install/kustomization.yaml
  kubernetes/infrastructure/sources/external-secrets.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
Due: sops-auto-encrypt

fix(renovate): update host rules
  kubernetes/infrastructure/automation/renovate/secret.sops.yaml
Due: sops-auto-encrypt

docs: remove 1Password references
  README.md
  SECURITY.md
  packer/AGENTS.md
  terraform/AGENTS.md
  terraform/README.md
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.100.1
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.39.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.39.2 (#1170)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.172.1
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.172.1 (#1171)
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/nextcloud Docker tag to v34.0.4
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/nextcloud Docker tag to v34.0.4 (#1172)
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.100.1 (#1169)
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/plex Docker tag to v1.43.4
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/plex Docker tag to v1.43.4 (#1173)
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

feat(kubernetes): add open-webui deployment
  kubernetes/apps/apps/ai/open-webui/README.md
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
  kubernetes/apps/apps/ai/open-webui/kustomization.yaml
  kubernetes/apps/apps/ai/open-webui/open-webui-secrets.sops.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/open-webui-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/open-webui-sso-secret.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update bellamy/scrob Docker tag to v2.16.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.16.0 (#1175)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

feat(kubernetes): add open-webui deployment (#1174)
  kubernetes/apps/apps/ai/open-webui/README.md
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
  kubernetes/apps/apps/ai/open-webui/kustomization.yaml
  kubernetes/apps/apps/ai/open-webui/open-webui-secrets.sops.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/open-webui-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/open-webui-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(discord): retry slow Helm releases
  kubernetes/apps/apps/utils/discord-presence/alternate/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/main/helmrelease.yaml
Due: none

fix(discord): retry slow Helm releases (#1176)
  kubernetes/apps/apps/utils/discord-presence/alternate/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/main/helmrelease.yaml
Due: none

fix(open-webui): allow internal oauth avatars
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.39.4
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.39.4 (#1177)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v89.2.3
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.9.1
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.9.1 (#1179)
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v89.2.3 (#1178)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.37
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.37 (#1180)
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

fix(ai): improve hindsight queue throughput
  ansible/roles/llama_swap/defaults/main.yml
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: ansible-lint

fix(ai): improve hindsight queue throughput (#1181)
  ansible/roles/llama_swap/defaults/main.yml
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: ansible-lint

feat(open-webui): add postgres and valkey services
  kubernetes/apps/apps/ai/open-webui/README.md
  kubernetes/apps/apps/ai/open-webui/cnpg-cluster.yaml
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
  kubernetes/apps/apps/ai/open-webui/kustomization.yaml
  kubernetes/apps/apps/ai/open-webui/open-webui-db-secrets.sops.yaml
Due: sops-auto-encrypt

feat(open-webui): add postgres and valkey services (#1182)
  kubernetes/apps/apps/ai/open-webui/README.md
  kubernetes/apps/apps/ai/open-webui/cnpg-cluster.yaml
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
  kubernetes/apps/apps/ai/open-webui/kustomization.yaml
  kubernetes/apps/apps/ai/open-webui/open-webui-db-secrets.sops.yaml
Due: sops-auto-encrypt
