Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

feat(ansible): pass HF_TOKEN through to chatterbox container
  ansible/roles/containers/chatterbox/defaults/main.yml
Due: ansible-lint

feat(ansible): manage chatterbox tts (#908)
  ansible/inventories/llm.yml
  ansible/playbooks/llm_lxc.yml
  ansible/roles/containers/chatterbox/defaults/main.yml
  ansible/roles/containers/chatterbox/handlers/main.yml
  ansible/roles/containers/chatterbox/tasks/main.yml
  ansible/roles/containers/chatterbox/templates/chatterbox-container.service.j2
  ansible/roles/containers/chatterbox/templates/docker-compose.yml.j2
  terraform/instances/lxc/llm/lxc_definition.tf
Due: ansible-lint, terraform-fmt

fix(ansible): track comfyui latest image
  ansible/roles/containers/comfyui/defaults/main.yml
Due: ansible-lint

fix(ansible): stabilize llm runtime updates
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
Due: ansible-lint

fix(ansible): stabilize llm runtime updates (#909)
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
Due: ansible-lint

chore(kubernetes): decommission netbird gateway
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
  kubernetes/infrastructure/networking/netbird/config/networkrouter.yaml
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
Due: none

fix(kubernetes): prune netbird routing
  kubernetes/infrastructure/networking/netbird/config/kustomization.yaml
  kubernetes/infrastructure/networking/netbird/config/networkrouter.yaml
Due: none

fix(kubernetes): finalize netbird teardown
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
Due: none

chore(kubernetes): uninstall netbird operator
  kubernetes/clusters/production/ks/27-netbird-operator-install.yaml
  kubernetes/clusters/production/ks/28-netbird-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/service-netbird.yaml
Due: none

fix(kubernetes): retain inert netbird configuration
  kubernetes/clusters/production/ks/27-netbird-operator-install.yaml
  kubernetes/clusters/production/ks/28-netbird-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/service-netbird.yaml
Due: none

chore(ci): allow omitted CPU limits
  .checkov.yaml
Due: none

chore(ci): run checkov before Kubernetes commits
  .pre-commit-config.yaml
  CONTRIBUTING.md
Due: none

fix(tooling): install checkov with bootstrap
  scripts/bootstrap-host-tools.sh
Due: none

chore(deps): Update Helm release traefik to v41.1.0
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.0
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.0 (#912)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v41.1.0 (#911)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

fix(kubernetes): disable netbird reconciliation
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
Due: none

chore(deps): Update Helm release loki to v18.7.1
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.7.1 (#914)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.1
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.1 (#916)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v88 (#915)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.34.2 (#917)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

fix(jellyfin): retry automation DNS failures
  kubernetes/apps/apps/media/jellyfin/automation-cronjob.yaml
Due: none

chore(kubernetes): remove plextraktsync
  docs/decisions-and-tradeoffs.md
  kubernetes/apps/apps/media/plextraktsync/configmap.yaml
  kubernetes/apps/apps/media/plextraktsync/env.sops.yaml
  kubernetes/apps/apps/media/plextraktsync/helmrelease.yaml
  kubernetes/apps/apps/media/plextraktsync/kustomization.yaml
  kubernetes/apps/apps/media/plextraktsync/servers.sops.yaml
  kubernetes/apps/apps/media/plextraktsync/sync-job.yaml
  kubernetes/apps/apps/media/plextraktsync/trakt.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/media/kustomization.yaml
  kubernetes/apps/storage/pvcs/media/plextraktsync-pvc.yaml
  renovate.json
Due: sops-auto-encrypt

chore(secrets): rotate credentials
  kubernetes/apps/apps/ai/litellm/litellm-credentials.sops.yaml
  kubernetes/apps/apps/development/gitea/gitea-mailer-secret.sops.yaml
  kubernetes/apps/apps/utils/airtrail/airtrail-integration-secrets.sops.yaml
  kubernetes/apps/apps/utils/discord-presence/common/steam-presence-config.sops.yaml
  kubernetes/infrastructure/automation/renovate/secret.sops.yaml
  kubernetes/infrastructure/networking/cloudflared/install/secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
Due: sops-auto-encrypt

chore(secrets): rotate oidc clients
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/apps/apps/paperless/kustomization.yaml
  kubernetes/apps/apps/paperless/paperless-oidc-secrets.sops.yaml
  kubernetes/apps/apps/utils/airtrail/airtrail-oidc-secrets.sops.yaml
  kubernetes/apps/apps/utils/airtrail/helmrelease.yaml
  kubernetes/apps/apps/utils/airtrail/kustomization.yaml
  kubernetes/apps/apps/utils/dawarich/dawarich-oidc-secrets.sops.yaml
  kubernetes/apps/apps/utils/dawarich/helmrelease.yaml
  kubernetes/apps/apps/utils/dawarich/kustomization.yaml
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
  kubernetes/apps/apps/utils/karakeep/karakeep-oidc-secrets.sops.yaml
  kubernetes/apps/apps/utils/karakeep/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/airtrail-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/dawarich-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/karakeep-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/paperless-sso-secret.sops.yaml
Due: sops-auto-encrypt

chore(secrets): rotate auth credentials
  kubernetes/infrastructure/security/authentik/install/grafana-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/harbor-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/komga-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/ldap-search-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/librechat-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/litellm-sso-secret.sops.yaml
Due: sops-auto-encrypt

feat(auth): reconcile oidc consumers
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
  kubernetes/apps/apps/nextcloud/kustomization.yaml
  kubernetes/apps/apps/nextcloud/oidc-reconcile-cronjob.yaml
Due: none

fix(gitea): retry oidc source lookup
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
Due: none

fix(gitea): preserve oidc shell variables
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
Due: none

chore(auth): rotate gitea and nextcloud oidc
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/gitea-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/nextcloud-sso-secret.sops.yaml
Due: sops-auto-encrypt

chore(auth): rotate immich and audiobookshelf oidc
  kubernetes/infrastructure/security/authentik/install/audiobookshelf-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/immich-sso-secret.sops.yaml
Due: sops-auto-encrypt

chore(secrets): rotate immich api key
  kubernetes/apps/apps/immich/immich-secrets.sops.yaml
Due: sops-auto-encrypt

chore(secrets): rotate cloudflare api token
  kubernetes/infrastructure/security/cert-manager/config/cloudflare-secrets.sops.yaml
Due: sops-auto-encrypt
