Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: packer-fmt, terraform-fmt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
  - repo: https://github.com/adrienverge/yamllint
    rev: v1.35.1
    hooks:
      - id: yamllint
        files: \.ya?ml$
  - repo: https://github.com/ansible/ansible-lint
    rev: v24.10.0
    hooks:
      - id: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false
        additional_dependencies:
          - ansible==9.4.0
  - repo: local
    hooks:
      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false
      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

Install Grafana and Prometheus from kube-prom-stack (#66)
  kubernetes/clusters/homelab/flux-system/kustomization.yaml
  kubernetes/clusters/homelab/flux-system/observability-kube-prometheus-stack-install-kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/kustomization.yaml
Due: none

feat: add comprehensive monitoring and simplify pre-commit
  .pre-commit-config.yaml
  .yamllint
  kubernetes/clusters/homelab/infrastructure/MONITORING.md
  kubernetes/clusters/homelab/infrastructure/authentik/config/authentik-servicemonitor.yaml
  kubernetes/clusters/homelab/infrastructure/cert-manager/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/cloudnative-pg/config/cnpg-operator-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/cloudnative-pg/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/longhorn/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/longhorn/config/longhorn-servicemonitor.yaml
  kubernetes/clusters/homelab/infrastructure/metallb/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/metallb/config/metallb-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/observability/alloy/config/alloy-servicemonitor.yaml
  kubernetes/clusters/homelab/infrastructure/observability/alloy/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/observability/loki/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/traefik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/traefik/config/traefik-podmonitor.yaml
  kubernetes/samples/using_longhorn_pvc.yaml
Due: none

fix: correct ServiceMonitor/PodMonitor selectors for target discovery
  kubernetes/clusters/homelab/infrastructure/authentik/config/authentik-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/authentik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/metallb/config/metallb-podmonitor.yaml
Due: none

feat: add comprehensive monitoring to all applications (#67)
  .pre-commit-config.yaml
  .yamllint
  kubernetes/clusters/homelab/infrastructure/MONITORING.md
  kubernetes/clusters/homelab/infrastructure/authentik/config/authentik-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/cert-manager/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/cloudnative-pg/config/cnpg-operator-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/cloudnative-pg/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/longhorn/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/longhorn/config/longhorn-servicemonitor.yaml
  kubernetes/clusters/homelab/infrastructure/metallb/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/metallb/config/metallb-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/observability/alloy/config/alloy-servicemonitor.yaml
  kubernetes/clusters/homelab/infrastructure/observability/alloy/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/observability/loki/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/traefik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/traefik/config/traefik-podmonitor.yaml
  kubernetes/samples/using_longhorn_pvc.yaml
Due: none

Bump CPU and mem for k3s vm nodes
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

Bump CPU and mem for k3s vm nodes (#68)
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

Set storage for Grafana and Prometheus to just 1 replica
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

Fix typo
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

Set storage for Grafana and Prometheus to just 1 replica (#69)
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

Remove override to longhorn pvc replica
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

Remove unused metadata block
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

Remove override to longhorn pvc replica (#70)
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

Allow VPN IPs through Traefik middleware
  kubernetes/clusters/homelab/infrastructure/traefik/config/lan-allowlist-middleware.yaml
Due: none

Allow VPN IPs through Traefik middleware (#71)
  kubernetes/clusters/homelab/infrastructure/traefik/config/lan-allowlist-middleware.yaml
Due: none

Enable access logs for traefik
  kubernetes/clusters/homelab/infrastructure/traefik/install/helmrelease.yaml
Due: none

Better configure
  kubernetes/clusters/homelab/infrastructure/traefik/install/helmrelease.yaml
Due: none

Enable access logs for traefik (#72)
  kubernetes/clusters/homelab/infrastructure/traefik/install/helmrelease.yaml
Due: none

feat(authentik): add outpost tls certificate
  kubernetes/clusters/homelab/infrastructure/authentik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/authentik/config/outpost-certificate.yaml
Due: none

feat(authentik): add outpost tls certificate (#73)
  kubernetes/clusters/homelab/infrastructure/authentik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/authentik/config/outpost-certificate.yaml
Due: none

Massive doc overhaul
  AGENTS.md
  README.md
  ansible/README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/DISASTER_RECOVERY.md
  docs/FAQ.md
  docs/GETTING_STARTED.md
  docs/NETWORKING.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/diagrams/.gitkeep
  kubernetes/README.md
  kubernetes/clusters/homelab/infrastructure/MONITORING.md
  kubernetes/clusters/homelab/infrastructure/authentik/README.md
  kubernetes/clusters/homelab/infrastructure/longhorn/README.md
  kubernetes/clusters/homelab/infrastructure/observability/README.md
  kubernetes/clusters/homelab/infrastructure/traefik/README.md
  kubernetes/clusters/homelab/secrets/README.md
  packer/README.md
  terraform/README.md
Due: none

Tweaks
  README.md
  docs/NETWORKING.md
  kubernetes/clusters/homelab/secrets/README.md
Due: none

Massive doc overhaul (#74)
  AGENTS.md
  README.md
  ansible/README.md
  docs/ARCHITECTURE.md
  docs/DEVELOPMENT.md
  docs/DISASTER_RECOVERY.md
  docs/FAQ.md
  docs/GETTING_STARTED.md
  docs/NETWORKING.md
  docs/SECURITY.md
  docs/TROUBLESHOOTING.md
  docs/diagrams/.gitkeep
  kubernetes/README.md
  kubernetes/clusters/homelab/infrastructure/MONITORING.md
  kubernetes/clusters/homelab/infrastructure/authentik/README.md
  kubernetes/clusters/homelab/infrastructure/longhorn/README.md
  kubernetes/clusters/homelab/infrastructure/observability/README.md
  kubernetes/clusters/homelab/infrastructure/traefik/README.md
  kubernetes/clusters/homelab/secrets/README.md
  packer/README.md
  terraform/README.md
Due: none

refactor(k3s): reorganize Authentik into security/ directory
  kubernetes/README.md
  kubernetes/clusters/homelab/flux-system/kustomization.yaml
  kubernetes/clusters/homelab/flux-system/security-authentik-config-kustomization.yaml
  kubernetes/clusters/homelab/flux-system/security-authentik-install-kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/security/README.md
  kubernetes/clusters/homelab/infrastructure/security/authentik/README.md
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/authentik-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/ingress.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/outpost-certificate.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/postgres-cluster.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/install/namespace.yaml
  kubernetes/samples/proxy_external_service_with_ssl_and_authentik.yaml
  kubernetes/samples/stateless_web_app_with_authentik.yaml
Due: none

refactor(k3s): reorganize Authentik into security/ directory (#75)
  kubernetes/README.md
  kubernetes/clusters/homelab/flux-system/kustomization.yaml
  kubernetes/clusters/homelab/flux-system/security-authentik-config-kustomization.yaml
  kubernetes/clusters/homelab/flux-system/security-authentik-install-kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/security/README.md
  kubernetes/clusters/homelab/infrastructure/security/authentik/README.md
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/authentik-podmonitor.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/ingress.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/outpost-certificate.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/postgres-cluster.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/clusters/homelab/infrastructure/security/authentik/install/namespace.yaml
  kubernetes/samples/proxy_external_service_with_ssl_and_authentik.yaml
  kubernetes/samples/stateless_web_app_with_authentik.yaml
Due: none

Improve readme + Postgres db duplication
  kubernetes/clusters/homelab/infrastructure/security/authentik/README.md
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/postgres-cluster.yaml
Due: none

Improve readme + Postgres db duplication (#76)
  kubernetes/clusters/homelab/infrastructure/security/authentik/README.md
  kubernetes/clusters/homelab/infrastructure/security/authentik/config/postgres-cluster.yaml
Due: none

Fix grafana external-dns label
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

Fix grafana external-dns label (#77)
  kubernetes/clusters/homelab/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(packer): add Bitwarden secret management infrastructure
  .gitignore
  packer/scripts/bws-config.sh
  packer/scripts/fetch-ssh-keys.sh
  packer/scripts/generate-autoinstall.sh
  packer/ubuntu-24.04-base/build.sh
Due: none

fix(packer): stop tracking generated user-data file
  packer/ubuntu-24.04-base/http/user-data
Due: none

feat(packer): add Fedora 43 Server template support
  packer/fedora-43-server/build.sh
  packer/fedora-43-server/fedora-43.pkr.hcl
  packer/fedora-43-server/http/ks.cfg.template
  packer/fedora-43-server/scripts/setup.sh
  packer/fedora-43-server/variables.pkr.hcl
Due: packer-fmt

feat(packer): improve Ubuntu template and standardize VM IDs
  packer/ubuntu-24.04-base/http/user-data.template
  packer/ubuntu-24.04-base/scripts/setup.sh
  packer/ubuntu-24.04-base/ubuntu-24.04.pkr.hcl
  packer/ubuntu-24.04-base/variables.pkr.hcl
Due: packer-fmt

docs(packer): update README with Fedora and Bitwarden documentation
  packer/README.md
Due: none

feat(packer): add Bitwarden secret management infrastructure (#78)
  .gitignore
  packer/README.md
  packer/fedora-43-server/build.sh
  packer/fedora-43-server/fedora-43.pkr.hcl
  packer/fedora-43-server/http/ks.cfg.template
  packer/fedora-43-server/scripts/setup.sh
  packer/fedora-43-server/variables.pkr.hcl
  packer/scripts/bws-config.sh
  packer/scripts/fetch-ssh-keys.sh
  packer/scripts/generate-autoinstall.sh
  packer/ubuntu-24.04-base/build.sh
  packer/ubuntu-24.04-base/http/user-data.template
Due: packer-fmt

chore: ignore Bitwarden provider state file
  .gitignore
Due: none

feat(terraform): add Bitwarden Secrets provider configuration
  terraform/k3s_nodes/data.tf
  terraform/k3s_nodes/providers.tf
Due: terraform-fmt

refactor(terraform): retrieve SSH keys from Bitwarden Secrets
  terraform/k3s_nodes/main.tf
Due: terraform-fmt

docs(terraform): add README and deprecate ssh_public_keys variable
  terraform/k3s_nodes/README.md
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

docs: update architecture and getting started guides for Bitwarden integration
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/SECURITY.md
Due: none

Remove deprecated ssh variable
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt
