Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps): Update Helm release kube-prometheus-stack to v83.4.1
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.4.1 (#362)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update dependency immich-app/immich to v2.7.5
  kubernetes/apps/apps/immich/helmrelease.yaml
Due: none

chore(deps): Update dependency immich-app/immich to v2.7.5 (#363)
  kubernetes/apps/apps/immich/helmrelease.yaml
Due: none

fix(agents): require live root-cause validation
  AGENTS.md
Due: none

chore(ansible): update rpi4 packages
  ansible/inventories/host_vars/main-rpi4.yml
Due: ansible-lint

fix(ansible): ensure sshd validation works on fresh hosts
  ansible/roles/common/tasks/main.yml
Due: ansible-lint

feat(ansible): add openclaw host inventory and playbook
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/playbooks/openclaw.yml
Due: ansible-lint

feat(ansible): add openclaw and ufw roles
  ansible/roles/openclaw/defaults/main.yml
  ansible/roles/openclaw/tasks/main.yml
  ansible/roles/ufw/defaults/main.yml
  ansible/roles/ufw/tasks/main.yml
Due: ansible-lint

feat(terraform): add openclaw vm module
  terraform/openclaw_vm/data.tf
  terraform/openclaw_vm/main.tf
  terraform/openclaw_vm/providers.tf
  terraform/openclaw_vm/templates/inventory.yaml.tpl
  terraform/openclaw_vm/variables.tf
Due: terraform-fmt

chore(terraform): add openclaw vm tfvars
  terraform/openclaw_vm/terraform.tfvars
Due: none

tweaks and improvements
  ansible/playbooks/openclaw.yml
  ansible/roles/openclaw/defaults/main.yml
  ansible/roles/openclaw/tasks/bootstrap.yml
  ansible/roles/openclaw/tasks/install.yml
  ansible/roles/openclaw/tasks/main.yml
  ansible/roles/openclaw/tasks/onboarding.yml
Due: ansible-lint

refactor
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/inventories/openclaw.yml
  ansible/playbooks/openclaw.yml
  ansible/roles/openclaw/defaults/main.yml
  ansible/roles/openclaw/tasks/bootstrap.yml
  ansible/roles/openclaw/tasks/install.yml
  ansible/roles/openclaw/tasks/onboarding.yml
  terraform/openclaw_vm/variables.tf
Due: ansible-lint, terraform-fmt

fix(searxng): restrict ingress to lan allowlist
  kubernetes/apps/apps/utils/searxng/helmrelease.yaml
  kubernetes/apps/apps/utils/searxng/kustomization.yaml
Due: none

feat(ansible+terraform): OpenClaw VM on Proxmox + Related tweaks (#364)
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/inventories/host_vars/main-rpi4.yml
  ansible/inventories/openclaw.yml
  ansible/playbooks/openclaw.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/openclaw/defaults/main.yml
  ansible/roles/openclaw/tasks/bootstrap.yml
  ansible/roles/openclaw/tasks/install.yml
  ansible/roles/openclaw/tasks/main.yml
  ansible/roles/openclaw/tasks/onboarding.yml
  ansible/roles/ufw/defaults/main.yml
  ansible/roles/ufw/tasks/main.yml
  terraform/openclaw_vm/data.tf
  terraform/openclaw_vm/main.tf
  terraform/openclaw_vm/providers.tf
  terraform/openclaw_vm/templates/inventory.yaml.tpl
  terraform/openclaw_vm/terraform.tfvars
  terraform/openclaw_vm/variables.tf
Due: ansible-lint, terraform-fmt

feat(terraform): add shared proxmox vm module
  terraform/modules/proxmox_vms/main.tf
  terraform/modules/proxmox_vms/outputs.tf
  terraform/modules/proxmox_vms/providers.tf
  terraform/modules/proxmox_vms/variables.tf
Due: terraform-fmt

refactor(terraform): slim k3s root entrypoint and providers
  terraform/instances/k3s_nodes/main.tf
  terraform/instances/k3s_nodes/providers.tf
  terraform/k3s_nodes/main.tf
Due: terraform-fmt

refactor(terraform): move k3s vm config into instance definitions
  terraform/instances/k3s_nodes/vm_definition.tf
  terraform/k3s_nodes/terraform.tfvars
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

refactor(terraform): move k3s inventory generation under instances
  terraform/instances/k3s_nodes/ansible_inventory.tf
  terraform/instances/k3s_nodes/templates/inventory.yaml.tpl
Due: terraform-fmt

refactor(terraform): slim openclaw root entrypoint and providers
  terraform/instances/openclaw/main.tf
  terraform/instances/openclaw/providers.tf
  terraform/openclaw_vm/main.tf
Due: terraform-fmt

refactor(terraform): move openclaw vm config into instance definitions
  terraform/instances/openclaw/vm_definition.tf
  terraform/openclaw_vm/terraform.tfvars
  terraform/openclaw_vm/variables.tf
Due: terraform-fmt

refactor(terraform): move openclaw inventory generation under instances
  terraform/instances/openclaw/ansible_inventory.tf
  terraform/instances/openclaw/templates/inventory.yaml.tpl
Due: terraform-fmt

fix(terraform): remove legacy root ssh key lookups
  terraform/k3s_nodes/data.tf
  terraform/openclaw_vm/data.tf
Due: terraform-fmt

docs(terraform): update guidance for instances layout
  AGENTS.md
  CONTRIBUTING.md
  ansible/AGENTS.md
  docs/GETTING_STARTED.md
  docs/TROUBLESHOOTING.md
  terraform/AGENTS.md
Due: none

refactor(terraform): create a Proxmox VM module and reduce duplication (#365)
  AGENTS.md
  CONTRIBUTING.md
  ansible/AGENTS.md
  docs/GETTING_STARTED.md
  docs/TROUBLESHOOTING.md
  terraform/AGENTS.md
  terraform/instances/k3s_nodes/ansible_inventory.tf
  terraform/instances/k3s_nodes/main.tf
  terraform/instances/k3s_nodes/providers.tf
  terraform/instances/k3s_nodes/templates/inventory.yaml.tpl
  terraform/instances/k3s_nodes/vm_definition.tf
  terraform/instances/openclaw/ansible_inventory.tf
  terraform/instances/openclaw/main.tf
  terraform/instances/openclaw/providers.tf
  terraform/instances/openclaw/templates/inventory.yaml.tpl
  terraform/instances/openclaw/vm_definition.tf
  terraform/k3s_nodes/data.tf
  terraform/k3s_nodes/main.tf
  terraform/k3s_nodes/terraform.tfvars
  terraform/k3s_nodes/variables.tf
  terraform/modules/proxmox_vms/main.tf
  terraform/modules/proxmox_vms/outputs.tf
  terraform/modules/proxmox_vms/providers.tf
  terraform/modules/proxmox_vms/variables.tf
  terraform/openclaw_vm/data.tf
  terraform/openclaw_vm/main.tf
  terraform/openclaw_vm/terraform.tfvars
  terraform/openclaw_vm/variables.tf
Due: terraform-fmt

feat: add OpenClaw trusted proxy auth with Authentik SSO and UFW restrictions
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/roles/ufw/defaults/main.yml
  ansible/roles/ufw/tasks/main.yml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/openclaw.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/middlewares/openclaw-auth-chain.yaml
  kubernetes/infrastructure/security/authentik/config/kustomization.yaml
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: ansible-lint

feat: add OpenClaw trusted proxy auth with Authentik SSO and UFW changes (#366)
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/roles/ufw/defaults/main.yml
  ansible/roles/ufw/tasks/main.yml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/openclaw.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/middlewares/openclaw-auth-chain.yaml
  kubernetes/infrastructure/security/authentik/config/kustomization.yaml
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: ansible-lint

chore(deps): Update Helm release kube-prometheus-stack to v83.4.2
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.4.2 (#367)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update vaultwarden/server Docker tag to v1.35.7
  kubernetes/apps/apps/security/vaultwarden/helmrelease.yaml
Due: none

chore(deps): Update vaultwarden/server Docker tag to v1.35.7 (#368)
  kubernetes/apps/apps/security/vaultwarden/helmrelease.yaml
Due: none

fix(frigate): allow OpenClaw access to load balancer
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.4.3
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.4.3 (#369)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.17.3
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.17.3 (#370)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

fix(terraform): use Proxmox tag separators in VM module
  terraform/modules/proxmox_vms/main.tf
Due: terraform-fmt

feat(terraform): add Proxmox tags for GPU k3s nodes
  terraform/instances/k3s_nodes/vm_definition.tf
Due: terraform-fmt

fix(terraform): handle null k3s node Proxmox tag inputs
  terraform/instances/k3s_nodes/vm_definition.tf
Due: terraform-fmt

fix(terraform): use Proxmox tag separators in VM module (#371)
  terraform/instances/k3s_nodes/vm_definition.tf
  terraform/modules/proxmox_vms/main.tf
Due: terraform-fmt
