Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

fix(terraform): handle empty hetzner vm input
  terraform/modules/hetzner/vm/main.tf
Due: terraform-fmt

chore(deps): Update n8nio/n8n Docker tag to v2.18.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.2 (#383)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.6.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.6.0 (#384)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(storage): delete stuck pods on node failure
  kubernetes/infrastructure/storage/longhorn/config/kustomization.yaml
  kubernetes/infrastructure/storage/longhorn/config/settings-failover.yaml
Due: none

fix(security): recreate crowdsec lapi before pvc reattach
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
Due: none

fix(media): recreate remaining pvc-backed services
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
  kubernetes/apps/apps/media/komga/helmrelease.yaml
  kubernetes/apps/apps/media/lidatube/helmrelease.yaml
  kubernetes/apps/apps/media/plextraktsync/helmrelease.yaml
  kubernetes/apps/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/apps/media/tidarr/helmrelease.yaml
Due: none

fix(observability): recreate grafana before pvc reattach
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(media): recreate arr services before pvc reattach
  kubernetes/apps/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/apps/media/seerr/helmrelease.yaml
  kubernetes/apps/apps/media/sonarr/helmrelease.yaml
Due: none

fix safe pvc failover recovery after node loss (#385)
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
  kubernetes/apps/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/apps/media/komga/helmrelease.yaml
  kubernetes/apps/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/apps/media/lidatube/helmrelease.yaml
  kubernetes/apps/apps/media/plextraktsync/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/apps/media/seerr/helmrelease.yaml
  kubernetes/apps/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/apps/media/tidarr/helmrelease.yaml
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
  kubernetes/infrastructure/storage/longhorn/config/kustomization.yaml
  kubernetes/infrastructure/storage/longhorn/config/settings-failover.yaml
Due: none

feat(packer): add Ubuntu 26.04 template scaffold
  packer/ubuntu-26.04-base/build.sh
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
  packer/ubuntu-26.04-base/variables.pkr.hcl
Due: packer-fmt

feat(packer): add Ubuntu 26.04 autoinstall assets
  packer/ubuntu-26.04-base/http/meta-data
  packer/ubuntu-26.04-base/http/user-data.template
Due: none

fix(packer): avoid baking root-owned bash history
  packer/ubuntu-26.04-base/scripts/setup.sh
Due: none

refactor(packer): share ubuntu build wrapper
  packer/scripts/build-ubuntu-template.sh
  packer/ubuntu-24.04-base/build.sh
  packer/ubuntu-26.04-base/build.sh
Due: none

refactor(packer): share ubuntu setup provisioning
  packer/scripts/setup-ubuntu-base.sh
  packer/ubuntu-24.04-base/ubuntu-24.04.pkr.hcl
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
Due: packer-fmt

refactor(packer): remove duplicate ubuntu setup scripts
  packer/ubuntu-24.04-base/scripts/setup.sh
  packer/ubuntu-26.04-base/scripts/setup.sh
Due: none

fix(packer): remove redundant sudo env preservation
  packer/ubuntu-24.04-base/ubuntu-24.04.pkr.hcl
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
Due: packer-fmt

feat(packer): add Ubuntu 26.04 base template and share Ubuntu helpers (#386)
  packer/scripts/build-ubuntu-template.sh
  packer/scripts/setup-ubuntu-base.sh
  packer/ubuntu-26.04-base/build.sh
  packer/ubuntu-26.04-base/http/meta-data
  packer/ubuntu-26.04-base/http/user-data.template
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
  packer/ubuntu-26.04-base/variables.pkr.hcl
Due: packer-fmt

refactor(homepage): consolidate services into Apps/Services
  kubernetes/apps/apps/ai/kokoro/helmrelease.yaml
  kubernetes/apps/apps/ai/llama-swap/helmrelease.yaml
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
  kubernetes/apps/apps/ai/perplexica/helmrelease.yaml
  kubernetes/apps/apps/ai/sillytavern/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
  kubernetes/apps/apps/immich/helmrelease.yaml
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
  kubernetes/apps/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/apps/media/komga/helmrelease.yaml
  kubernetes/apps/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/apps/media/lidatube/helmrelease.yaml
  kubernetes/apps/apps/media/navidrome/helmrelease.yaml
  kubernetes/apps/apps/media/plex/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/apps/media/seerr/helmrelease.yaml
  kubernetes/apps/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/apps/media/tautulli/helmrelease.yaml
  kubernetes/apps/apps/media/tidarr/helmrelease.yaml
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-ai-helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/apps/apps/security/vaultwarden/helmrelease.yaml
  kubernetes/apps/apps/storage/garage-webui/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/alternate/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/main/helmrelease.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/apps/utils/it-tools/helmrelease.yaml
  kubernetes/apps/apps/utils/searxng/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/dashboard/ingressroute-dashboard.yaml
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/config/ingress.yaml
  kubernetes/infrastructure/storage/longhorn/config/ingress-longhorn-ui.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.3
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.3 (#387)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.31
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.31 (#388)
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

feat(terraform): add hetzner cloud server roots and cloud-init support
  terraform/cloud/hetzner/firewall/firewall_definition.tf
  terraform/cloud/hetzner/firewall/main.tf
  terraform/cloud/hetzner/firewall/outputs.tf
  terraform/cloud/hetzner/firewall/providers.tf
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/outputs.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/cloud/hetzner/ssh_keys/main.tf
  terraform/cloud/hetzner/ssh_keys/outputs.tf
  terraform/cloud/hetzner/ssh_keys/providers.tf
  terraform/cloud/hetzner/ssh_keys/ssh_key_definition.tf
  terraform/modules/hetzner/vm/main.tf
  terraform/modules/hetzner/vm/variables.tf
Due: terraform-fmt

refactor(terraform): extract hetzner vm cloud-init locals
  terraform/modules/hetzner/vm/cloud_init.tf
  terraform/modules/hetzner/vm/main.tf
Due: terraform-fmt

build(commit-msg): block Sisyphus commit attribution
  .github/workflows/commit-message-policy.yml
  .pre-commit-config.yaml
  scripts/forbid-commit-attribution-trailers.sh
Due: none

chore(terraform): remove temporary ssh key move blocks
  terraform/cloud/hetzner/ssh_keys/main.tf
Due: terraform-fmt

fix(terraform): honor explicit user_data in hetzner vm validation
  terraform/modules/hetzner/vm/cloud_init.tf
  terraform/modules/hetzner/vm/main.tf
Due: terraform-fmt

refactor(terraform): nest Hetzner modules by resource family (#382)
  .github/workflows/commit-message-policy.yml
  .pre-commit-config.yaml
  scripts/forbid-commit-attribution-trailers.sh
  terraform/cloud/hetzner/firewall/firewall_definition.tf
  terraform/cloud/hetzner/firewall/main.tf
  terraform/cloud/hetzner/firewall/outputs.tf
  terraform/cloud/hetzner/firewall/providers.tf
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/outputs.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/cloud/hetzner/ssh_keys/main.tf
  terraform/cloud/hetzner/ssh_keys/outputs.tf
  terraform/cloud/hetzner/ssh_keys/providers.tf
  terraform/cloud/hetzner/ssh_keys/ssh_key_definition.tf
  terraform/modules/hetzner/README.md
  terraform/modules/hetzner/firewall/main.tf
  terraform/modules/hetzner/firewall/outputs.tf
  terraform/modules/hetzner/firewall/providers.tf
  terraform/modules/hetzner/firewall/variables.tf
  terraform/modules/hetzner/ssh_keys/main.tf
  terraform/modules/hetzner/ssh_keys/outputs.tf
  terraform/modules/hetzner/ssh_keys/providers.tf
  terraform/modules/hetzner/ssh_keys/variables.tf
  terraform/modules/hetzner/vm/cloud_init.tf
  terraform/modules/hetzner/vm/main.tf
  terraform/modules/hetzner/vm/outputs.tf
  terraform/modules/hetzner/vm/providers.tf
  terraform/modules/hetzner/vm/variables.tf
Due: terraform-fmt

chore(docs): remove outdated/useless docs
  AGENTS.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  docs/SECRETS_MANAGEMENT.md
  docs/TROUBLESHOOTING.md
Due: none

chore(terraform): bump openclaw memory
  terraform/instances/openclaw/vm_definition.tf
Due: terraform-fmt

feat(scripts): add Arch host tool bootstrap installer
  scripts/bootstrap-host-tools.sh
Due: none

fix(scripts): initialize hooks when install finds no missing tools
  scripts/bootstrap-host-tools.sh
Due: none

fix(scripts): mark bootstrap script executable
  scripts/bootstrap-host-tools.sh
Due: none

feat(scripts): add Arch host tool bootstrap installer (#389)
  scripts/bootstrap-host-tools.sh
Due: none

chore(git): enforce commit message policy
  CONTRIBUTING.md
  scripts/forbid-commit-attribution-trailers.sh
Due: none

chore(deps): Update observability
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(git): enforce commit message policy (#390)
  CONTRIBUTING.md
  scripts/forbid-commit-attribution-trailers.sh
Due: none

fix(deps): switch Loki 7 to grafana-community source
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
  kubernetes/infrastructure/sources/grafana-community.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
Due: none
