Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

feat(ansible): add lxc hardening role
  ansible/inventories/group_vars/llm_lxc.yml
  ansible/playbooks/llm_lxc.yml
  ansible/roles/lxc_hardening/README.md
  ansible/roles/lxc_hardening/defaults/main.yml
  ansible/roles/lxc_hardening/handlers/main.yml
  ansible/roles/lxc_hardening/tasks/main.yml
Due: ansible-lint

feat(ansible): add lxc bootstrap role
  ansible/playbooks/llm_lxc.yml
  ansible/roles/lxc_bootstrap/README.md
  ansible/roles/lxc_bootstrap/defaults/main.yml
  ansible/roles/lxc_bootstrap/tasks/main.yml
Due: ansible-lint

feat(ansible): add llm runtime role
  ansible/playbooks/llm_lxc.yml
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/files/llama-grammar.patch
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
  ansible/roles/llm_runtime/templates/rocm.repo.j2
  ansible/roles/llm_runtime/templates/rocm.sh.j2
Due: ansible-lint

feat(ansible): add llama-swap service
  ansible/playbooks/llm_lxc.yml
  ansible/roles/llama_swap/README.md
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llama_swap/handlers/main.yml
  ansible/roles/llama_swap/tasks/main.yml
  ansible/roles/llama_swap/templates/config.yaml.j2
  ansible/roles/llama_swap/templates/llama-swap.service.j2
Due: ansible-lint

docs(readme): update main readme with acknowledgements
  README.md
Due: none

fix(ansible): set llama uma at runtime
  ansible/roles/llama_swap/README.md
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llama_swap/templates/llama-swap.service.j2
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
  ansible/roles/llm_runtime/templates/rocm.sh.j2
Due: ansible-lint

chore(deps): Update Helm release cloudnative-pg to v0.28.2 (#471)
  kubernetes/infrastructure/database/cloudnative-pg/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release authentik to v2026.2.3
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release authentik to v2026.2.3 (#482)
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: none

chore(deps): Update athennamind/opnsense-exporter Docker tag to v0.0.15
  kubernetes/apps/apps/external-observability/opnsense-exporter/helmrelease.yaml
Due: none

chore(deps): Update athennamind/opnsense-exporter Docker tag to v0.0.15 (#481)
  kubernetes/apps/apps/external-observability/opnsense-exporter/helmrelease.yaml
Due: none

chore(deps): Update advplyr/audiobookshelf Docker tag to v2.35.0
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
Due: none

chore(deps): Update advplyr/audiobookshelf Docker tag to v2.35.0 (#483)
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.5.0
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.5.0 (#484)
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v40.2.0
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v40.2.0 (#485)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

fix(terraform): require terraform 1.4 for lxc
  terraform/instances/lxc/llm/providers.tf
  terraform/modules/proxmox_lxc/providers.tf
Due: terraform-fmt

fix(terraform): set llm inventory permissions
  ansible/inventories/llm.yml
  terraform/instances/lxc/llm/ansible_inventory.tf
Due: ansible-lint, terraform-fmt

chore(kubernetes): move llama-swap to external proxy
  kubernetes/apps/apps/ai/llama-swap/helmrelease.yaml
  kubernetes/apps/apps/ai/llama-swap/kustomization.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/llama-swap.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

[codex] chore(kubernetes): move llama-swap to external proxy (#486)
  kubernetes/apps/apps/ai/llama-swap/helmrelease.yaml
  kubernetes/apps/apps/ai/llama-swap/kustomization.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/llama-swap.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

feat(ansible): add whisper vulkan runtime
  ansible/playbooks/llm_lxc.yml
  ansible/roles/llama_swap/README.md
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llama_swap/tasks/main.yml
  ansible/roles/llama_swap/templates/config.yaml.j2
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/whisper_runtime/README.md
  ansible/roles/whisper_runtime/defaults/main.yml
  ansible/roles/whisper_runtime/tasks/main.yml
  ansible/roles/whisper_runtime/templates/build-marker.json.j2
Due: ansible-lint

fix(ansible): gate llama runtime on rocm
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
Due: ansible-lint

fix(ansible): gate whisper server validation
  ansible/roles/whisper_runtime/README.md
  ansible/roles/whisper_runtime/tasks/main.yml
Due: ansible-lint

feat(ansible): add whisper vulkan runtime (#487)
  ansible/playbooks/llm_lxc.yml
  ansible/roles/llama_swap/README.md
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llama_swap/tasks/main.yml
  ansible/roles/llama_swap/templates/config.yaml.j2
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/defaults/main.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
  ansible/roles/whisper_runtime/README.md
  ansible/roles/whisper_runtime/defaults/main.yml
  ansible/roles/whisper_runtime/tasks/main.yml
  ansible/roles/whisper_runtime/templates/build-marker.json.j2
Due: ansible-lint

chore(deps): Update Helm release kube-prometheus-stack to v85.0.3
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v85.0.3 (#488)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.21.4
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.21.4 (#489)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.22.0
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.22.0 (#490)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release app-template to v5.0.1
  kubernetes/components/bjw-s-defaults/kustomization.yaml
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release app-template to v5.0.1 (#491)
  kubernetes/components/bjw-s-defaults/kustomization.yaml
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/plex Docker tag to v1.43.2
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

chore(deps): Update Helm release crowdsec to v0.24.0
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
Due: none

fix(terraform): avoid lxc ssh bootstrap reruns
  terraform/instances/lxc/llm/lxc_definition.tf
  terraform/modules/proxmox_lxc/main.tf
Due: terraform-fmt

fix(terraform): avoid lxc ssh bootstrap reruns (#493)
  terraform/instances/lxc/llm/lxc_definition.tf
  terraform/modules/proxmox_lxc/main.tf
Due: terraform-fmt

chore(deps): Update Helm release crowdsec to v0.24.0 (#478)
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/plex Docker tag to v1.43.2 (#492)
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
