Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

feat(proxmox): prepare pve2 for gpu passthrough
  ansible/inventories/host_vars/pve2.yml
Due: ansible-lint

feat(terraform): assign intel igpu to k3s-node-02
  ansible/inventories/k3s-nodes.yml
  terraform/k3s_nodes/main.tf
  terraform/k3s_nodes/terraform.tfvars
Due: ansible-lint, terraform-fmt

fix(ansible): disable multipath on longhorn nodes
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/proxmox/tasks/gpu_passthrough.yml
  ansible/roles/vms/secondary_disk/defaults/main.yml
  ansible/roles/vms/secondary_disk/tasks/main.yml
Due: ansible-lint

feat(ansible): add intel gpu packages to k3s-node-02
  ansible/inventories/host_vars/k3s-node-02.yml
Due: ansible-lint

feat(media): enable plex host networking
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

docs(storage): clarify IfNotPresent PVC guidance
  kubernetes/apps/storage/AGENTS.md
Due: none

chore(deps) Update linuxserver/nextcloud Docker tag to v33.0.2
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/nextcloud Docker tag to v33.0.2 (#327)
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps) Update Helm release kube-prometheus-stack to v82.15.1
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps) Update Helm release kube-prometheus-stack to v82.15.1 (#328)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(media): enable jellyfin host networking
  kubernetes/apps/apps/media/jellyfin/helmrelease.yaml
Due: none

fix(media): update jellyfin lan hostname
  kubernetes/apps/apps/media/jellyfin/helmrelease.yaml
Due: none

fix(media): update jellyplex-watched plex endpoint
  kubernetes/apps/apps/media/jellyplex-watched/helmrelease.yaml
Due: none

feat(media): split jellyfin and plex exporters into standalone apps
  kubernetes/apps/apps/media/jellyfin-exporter/helmrelease.yaml
  kubernetes/apps/apps/media/jellyfin-exporter/jellyfin-exporter-secret.sops.yaml
  kubernetes/apps/apps/media/jellyfin-exporter/kustomization.yaml
  kubernetes/apps/apps/media/jellyfin-exporter/servicemonitor.yaml
  kubernetes/apps/apps/media/jellyfin/helmrelease.yaml
  kubernetes/apps/apps/media/jellyfin/jellyfin-exporter-secret.sops.yaml
  kubernetes/apps/apps/media/jellyplex-watched/helmrelease.yaml
  kubernetes/apps/apps/media/plex-exporter/helmrelease.yaml
  kubernetes/apps/apps/media/plex-exporter/kustomization.yaml
  kubernetes/apps/apps/media/plex-exporter/plex-exporter-secret.sops.yaml
  kubernetes/apps/apps/media/plex-exporter/servicemonitor.yaml
  kubernetes/apps/production/kustomization.yaml
Due: sops-auto-encrypt

fix(plextraktsync): change plex server settings
  kubernetes/apps/apps/media/plextraktsync/servers.sops.yaml
Due: sops-auto-encrypt

chore(deps) Update Helm release traefik to v39.0.7
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps) Update Helm release traefik to v39.0.7 (#329)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/prowlarr Docker tag to v2.3.5
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/prowlarr Docker tag to v2.3.5 (#330)
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
Due: none

feat(observability): add external-observability namespace
  kubernetes/infrastructure/config/namespaces.yaml
Due: none

feat(observability): add opnsense exporter app
  kubernetes/apps/apps/external-observability/opnsense-exporter/helmrelease.yaml
  kubernetes/apps/apps/external-observability/opnsense-exporter/kustomization.yaml
  kubernetes/apps/apps/external-observability/opnsense-exporter/opnsense-exporter-secret.sops.yaml
  kubernetes/apps/apps/external-observability/opnsense-exporter/servicemonitor.yaml
Due: sops-auto-encrypt

feat(observability): deploy opnsense exporter in production
  kubernetes/apps/production/kustomization.yaml
Due: none

feat(observability): enable ScrapeConfig discovery
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(observability): add opnsense builtin metrics scrape
  kubernetes/apps/apps/external-observability/opnsense-exporter/kustomization.yaml
  kubernetes/apps/apps/external-observability/opnsense-exporter/scrapeconfig.yaml
Due: none

fix(observability): remove invalid opnsense serviceAccount values
  kubernetes/apps/apps/external-observability/opnsense-exporter/helmrelease.yaml
Due: none

fix(observability): disable unbound collector
  kubernetes/apps/apps/external-observability/opnsense-exporter/helmrelease.yaml
Due: none

feat(observability): increase prometheus retention storage
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/jellyfin Docker tag to v10.11.8
  kubernetes/apps/apps/media/jellyfin/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/jellyfin Docker tag to v10.11.8 (#331)
  kubernetes/apps/apps/media/jellyfin/helmrelease.yaml
Due: none

chore(deps) Update Helm release kube-prometheus-stack to v82.16.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps) Update Helm release kube-prometheus-stack to v82.16.0 (#332)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(observability): add omada exporter manifests
  kubernetes/apps/apps/external-observability/omada-exporter/helmrelease.yaml
  kubernetes/apps/apps/external-observability/omada-exporter/kustomization.yaml
  kubernetes/apps/apps/external-observability/omada-exporter/omada-exporter-secret.sops.yaml
  kubernetes/apps/apps/external-observability/omada-exporter/servicemonitor.yaml
Due: sops-auto-encrypt

feat(observability): deploy omada exporter in production
  kubernetes/apps/production/kustomization.yaml
Due: none

fix(observability): re-encrypt omada exporter secret
  kubernetes/apps/apps/external-observability/omada-exporter/helmrelease.yaml
  kubernetes/apps/apps/external-observability/omada-exporter/omada-exporter-secret.sops.yaml
Due: sops-auto-encrypt

chore(deps) Update gotenberg/gotenberg Docker tag to v8.29
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

chore(deps) Update gotenberg/gotenberg Docker tag to v8.29 (#335)
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

chore(deps) Update Helm release cloudnative-pg to v0.28.0
  kubernetes/infrastructure/database/cloudnative-pg/install/helmrelease.yaml
Due: none

chore(deps) Update deluan/navidrome Docker tag to v0.61.0
  kubernetes/apps/apps/media/navidrome/helmrelease.yaml
Due: none

chore(deps) Update Helm release cloudnative-pg to v0.28.0 (#333)
  kubernetes/infrastructure/database/cloudnative-pg/install/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/radarr Docker tag to v6.1.1
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
