Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

feat(n8n): configure AI Assistant web search (#1079)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

feat(ansible): track latest llama-swap release
  ansible/roles/llama_swap/README.md
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llama_swap/tasks/main.yml
Due: ansible-lint

fix(ansible): prune stale llama-swap releases
  ansible/roles/llama_swap/tasks/main.yml
Due: ansible-lint

feat(ansible): track latest llama-swap release (#1080)
  ansible/roles/llama_swap/README.md
  ansible/roles/llama_swap/defaults/main.yml
  ansible/roles/llama_swap/tasks/main.yml
Due: ansible-lint

feat(authentik): enable passwordless passkey login
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(authentik): enable passwordless passkey login (#1081)
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

fix(authentik): preserve identification stage settings
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(authentik): add passkey sign-in fallback
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(authentik): inline password authentication
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(authentik): inline password authentication (#1082)
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

chore(deps): Update maziggy/bambuddy Docker tag to v1.2.5.5
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

chore(deps): Update maziggy/bambuddy Docker tag to v1.2.5.5 (#1083)
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

docs: move reviewer rules into REVIEW_GUIDELINES.md
  AGENTS.md
  REVIEW_GUIDELINES.md
Due: none

docs: make editor schema metadata rule actionable for YAML files
  AGENTS.md
Due: none

docs: state schema-metadata scope positively per file family
  AGENTS.md
Due: none

docs: move reviewer rules into REVIEW_GUIDELINES.md (#1084)
  AGENTS.md
  REVIEW_GUIDELINES.md
Due: none

fix(authentik): enable paperless swift oidc
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/paperless-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(authentik): enable paperless swift oidc (#1085)
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/paperless-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(scripts): suppress intentional shellcheck warning
  scripts/bootstrap-host-tools.sh
Due: none

feat(litellm): stabilize local model catalog
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

feat(litellm): stabilize local model catalog (#1086)
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

feat(ansible): update development workstation tooling
  ansible/roles/development_workstation/defaults/main.yml
  ansible/roles/development_workstation/tasks/herdr.yml
  ansible/roles/development_workstation/tasks/main.yml
  ansible/roles/development_workstation/tasks/xdg-directories.yml
Due: ansible-lint

feat(ansible): update development workstation tooling (#1087)
  ansible/roles/development_workstation/defaults/main.yml
  ansible/roles/development_workstation/tasks/herdr.yml
  ansible/roles/development_workstation/tasks/main.yml
  ansible/roles/development_workstation/tasks/xdg-directories.yml
Due: ansible-lint

chore(deps): Update Helm release tempo to v2.3.0
  kubernetes/infrastructure/observability/tempo/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release tempo to v2.3.0 (#1088)
  kubernetes/infrastructure/observability/tempo/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.170.1
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update binhex/arch-sabnzbdvpn Docker tag to v5.1.2
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
Due: none

chore(deps): Update binhex/arch-sabnzbdvpn Docker tag to v5.1.2 (#1090)
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.170.1 (#1089)
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.11.3
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.11.3 (#1091)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

feat(proxmox): load balance cluster access
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

fix(authentik): update proxmox redirect uri
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(proxmox): load balance cluster access (#1092)
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

fix(proxmox): restore single-node access
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

fix(proxmox): retain shared endpoint hostname
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

fix(proxmox): restore single-node access (#1093)
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release opentelemetry-collector to v0.171.0
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.171.0 (#1094)
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.5.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
