Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps) Update n8nio/n8n Docker tag to v2.7.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps) Update n8nio/n8n Docker tag to v2.7.2 (#193)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps) Update Helm release kube-prometheus-stack to v81.4.2
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps) Update Helm release kube-prometheus-stack to v81.4.2 (#194)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat: job for posterizarr and kometa
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
  kubernetes/apps/apps/media/plex-media-enrichment/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

fix: mount paths for posterizarr and kometa
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
Due: none

chore: rename files for a job
  kubernetes/apps/apps/media/plex-media-enrichment/cronjob.yaml
  kubernetes/apps/apps/media/plex-media-enrichment/kustomization.yaml
Due: none

chore: bump pvc size for kometa/posterizarr job
  kubernetes/apps/apps/media/plex-media-enrichment/cronjob.yaml
Due: none

chore: change kometa/posterizarr from job to deployment
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
  kubernetes/apps/apps/media/plex-media-enrichment/kustomization.yaml
Due: none

chore(deps) Update linuxserver/kometa Docker tag to v2.2.2
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
Due: none

chore(deps) Update linuxserver/kometa Docker tag to v2.2.2 (#195)
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
Due: none

chore(deps) Update gethomepage/homepage Docker tag to v1.10.1
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(deps) Update gethomepage/homepage Docker tag to v1.10.1 (#196)
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(deps) Update Helm release authentik to v2025.12.3
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: none

chore(deps) Update Helm release authentik to v2025.12.3 (#197)
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: none

chore(deps) Update plexguide/huntarr Docker tag to v9.2.3
  kubernetes/apps/apps/media/huntarr/helmrelease.yaml
Due: none

chore(deps) Update plexguide/huntarr Docker tag to v9.2.3 (#198)
  kubernetes/apps/apps/media/huntarr/helmrelease.yaml
Due: none

chore(sabnzbd): update vpn info
  kubernetes/apps/apps/media/sabnzbd/sabnzbd-wireguard.sops.yaml
Due: sops-auto-encrypt

fix(n8n): wrong import of backup policies
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
Due: none

docs: add comments to backup-policy
  kubernetes/components/storage/backup-policy/kustomization.yaml
Due: none

chore(homepage): remove redundant/wrong label
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
  kubernetes/apps/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/apps/media/komga/helmrelease.yaml
  kubernetes/apps/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/apps/media/navidrome/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/apps/security/vaultwarden/helmrelease.yaml
  kubernetes/apps/apps/storage/garage-webui/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/dashboard/ingressroute-dashboard.yaml
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/config/ingress.yaml
  kubernetes/infrastructure/storage/longhorn/config/ingress-longhorn-ui.yaml
Due: none

docs: update md files
  AGENTS.md
  CLAUDE.md
  CONTRIBUTING.md
  SECURITY.md
  ansible/AGENTS.md
  docs/ARCHITECTURE.md
  docs/GETTING_STARTED.md
  kubernetes/AGENTS.md
  packer/AGENTS.md
  terraform/AGENTS.md
Due: none

chore(posterizarr): set run schedule
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
Due: none

feat: install frigate
  kubernetes/apps/apps/security/frigate/frigate-config.sops.yaml
  kubernetes/apps/apps/security/frigate/frigate-secrets.sops.yaml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/apps/apps/security/frigate/ingressroutetcp-rtsp.yaml
  kubernetes/apps/apps/security/frigate/ingressroutetcp-webrtc.yaml
  kubernetes/apps/apps/security/frigate/ingressrouteudp-webrtc.yaml
  kubernetes/apps/apps/security/frigate/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/components/nfs-mount/frigate/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: sops-auto-encrypt

feat: install frigate (#199)
  kubernetes/apps/apps/security/frigate/frigate-config.sops.yaml
  kubernetes/apps/apps/security/frigate/frigate-secrets.sops.yaml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/apps/apps/security/frigate/ingressroutetcp-rtsp.yaml
  kubernetes/apps/apps/security/frigate/ingressroutetcp-webrtc.yaml
  kubernetes/apps/apps/security/frigate/ingressrouteudp-webrtc.yaml
  kubernetes/apps/apps/security/frigate/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/components/nfs-mount/frigate/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: sops-auto-encrypt

fix(kometa): don't run on startup
  kubernetes/apps/apps/media/plex-media-enrichment/helmrelease.yaml
Due: none

fix(frigate): permission issues
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
Due: none

fix(frigate): permission issues
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/components/nfs-mount/frigate/kustomization.yaml
Due: none

chore(frigate): disable frigate until I setup gpu passthrough
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
Due: none

fix(ansible): flag to remove corefreq from proxmox
  ansible/inventories/group_vars/proxmox.yml
  ansible/playbooks/proxmox.yml
  ansible/roles/proxmox/tasks/corefreq.yml
  ansible/roles/proxmox/tasks/main.yml
Due: ansible-lint

feat(ansible): setup for gpu passthrough in proxmox
  ansible/inventories/host_vars/pve1.yml
  ansible/roles/proxmox/tasks/gpu_passthrough.yml
  ansible/roles/proxmox/tasks/main.yml
Due: ansible-lint

fix deduplication logic
  ansible/inventories/host_vars/pve1.yml
  ansible/roles/proxmox/tasks/bootloader_kernel_params.yml
Due: ansible-lint

feat(ansible): playbook for igpu blacklisting and option to remove corefreq (#200)
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/host_vars/pve1.yml
  ansible/playbooks/proxmox.yml
  ansible/roles/proxmox/tasks/bootloader_kernel_params.yml
  ansible/roles/proxmox/tasks/corefreq.yml
  ansible/roles/proxmox/tasks/gpu_passthrough.yml
  ansible/roles/proxmox/tasks/main.yml
Due: ansible-lint

feat(terraform): add gpu passthrough for node 1
  terraform/k3s_nodes/main.tf
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

feat(ansible): add packages for gpu usage
  ansible/inventories/host_vars/k3s-node-01.yml
  ansible/inventories/k3s-nodes.yml
Due: ansible-lint

feat(frigate): assign to node 1 and use igpu
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
Due: none

fix(frigate): intel gpu compute drivers
  ansible/inventories/host_vars/k3s-node-01.yml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
Due: ansible-lint

feat(frigate): expose extra ports directly through load balancer
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/apps/apps/security/frigate/ingressroutetcp-rtsp.yaml
  kubernetes/apps/apps/security/frigate/ingressroutetcp-webrtc.yaml
  kubernetes/apps/apps/security/frigate/ingressrouteudp-webrtc.yaml
  kubernetes/apps/apps/security/frigate/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(frigate): cleanup some config
  kubernetes/apps/apps/security/frigate/frigate-config.sops.yaml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
Due: sops-auto-encrypt

chore(frigate): cleanup some config
  kubernetes/apps/apps/security/frigate/frigate-config.sops.yaml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/apps/apps/utils/homepage/homepage-secrets.sops.yaml
Due: sops-auto-encrypt
