Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

feat(kubernetes): deploy Apollo Bark notifications
  kubernetes/apps/apps/reddit/apollo-backend/apollo-backend-db-secrets.sops.yaml
  kubernetes/apps/apps/reddit/apollo-backend/apollo-backend-secrets.sops.yaml
  kubernetes/apps/apps/reddit/apollo-backend/cnpg-cluster.yaml
  kubernetes/apps/apps/reddit/apollo-backend/cnpg-pooler.yaml
  kubernetes/apps/apps/reddit/apollo-backend/configmap.yaml
  kubernetes/apps/apps/reddit/apollo-backend/database-schema-configmap.yaml
  kubernetes/apps/apps/reddit/apollo-backend/helmrelease.yaml
  kubernetes/apps/apps/reddit/apollo-backend/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/reddit/apollo-bark-pvc.yaml
  kubernetes/apps/storage/pvcs/reddit/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
Due: sops-auto-encrypt

fix(kubernetes): replicate CNPG backup secret to reddit
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): pin Apollo backend image
  kubernetes/apps/apps/reddit/apollo-backend/helmrelease.yaml
  renovate.json
Due: none

feat(kubernetes): deploy Apollo Bark notifications (#1275)
  kubernetes/apps/apps/reddit/apollo-backend/apollo-backend-db-secrets.sops.yaml
  kubernetes/apps/apps/reddit/apollo-backend/apollo-backend-secrets.sops.yaml
  kubernetes/apps/apps/reddit/apollo-backend/cnpg-cluster.yaml
  kubernetes/apps/apps/reddit/apollo-backend/cnpg-pooler.yaml
  kubernetes/apps/apps/reddit/apollo-backend/configmap.yaml
  kubernetes/apps/apps/reddit/apollo-backend/database-schema-configmap.yaml
  kubernetes/apps/apps/reddit/apollo-backend/helmrelease.yaml
  kubernetes/apps/apps/reddit/apollo-backend/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/reddit/apollo-bark-pvc.yaml
  kubernetes/apps/storage/pvcs/reddit/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
  renovate.json
Due: sops-auto-encrypt

fix(kubernetes): allow Apollo workers to reach Bark
  kubernetes/apps/apps/reddit/apollo-backend/helmrelease.yaml
  kubernetes/apps/apps/reddit/apollo-backend/kustomization.yaml
  kubernetes/apps/apps/reddit/apollo-backend/middleware-bark-allowlist.yaml
Due: none

feat(utils): deploy Sure
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/cnpg-cluster.yaml
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/kustomization.yaml
  kubernetes/apps/apps/utils/sure/sure-db-secrets.sops.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/sure-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/sure-valkey-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/sure-sso-secret.sops.yaml
Due: sops-auto-encrypt

feat(utils): deploy Sure (#1276)
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/cnpg-cluster.yaml
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/kustomization.yaml
  kubernetes/apps/apps/utils/sure/sure-db-secrets.sops.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/sure-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/sure-valkey-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/sure-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(authentik): prevent Sure OIDC cookie overflow
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

chore(terraform): optimize Proxmox memory allocations
  ansible/inventories/k3s-nodes.yml
  terraform/instances/lxc/garage_s3/lxc_definition.tf
  terraform/instances/lxc/photon/lxc_definition.tf
  terraform/instances/vm/development/vm_definition.tf
  terraform/instances/vm/home_assistant/main.tf
  terraform/instances/vm/k3s_nodes/vm_definition.tf
  terraform/instances/vm/omniroute/vm_definition.tf
Due: ansible-lint, terraform-fmt

chore(terraform): optimize Proxmox memory allocations (#1278)
  ansible/inventories/k3s-nodes.yml
  terraform/instances/lxc/garage_s3/lxc_definition.tf
  terraform/instances/lxc/photon/lxc_definition.tf
  terraform/instances/vm/development/vm_definition.tf
  terraform/instances/vm/home_assistant/main.tf
  terraform/instances/vm/k3s_nodes/vm_definition.tf
  terraform/instances/vm/omniroute/vm_definition.tf
Due: ansible-lint, terraform-fmt

feat(sure): configure OmniRoute integration
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

feat(sure): configure SMTP delivery
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

feat(sure): configure automatic synchronization
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
Due: none

fix(sure): use OmniRoute hostname
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
Due: none

feat(sure): configure external integrations (#1279)
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

chore(deps): update Sure to 0.7.5-alpha.9
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
Due: none

feat(sure): enable Active Record encryption
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

fix(sure): enforce encrypted data
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
Due: none

feat(sure): use GPT-5.6 Terra model
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
Due: none

feat(sure): use GPT-5.6 Terra model (#1280)
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
Due: none

feat(hindsight): route AI workloads through OmniRoute
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
Due: sops-auto-encrypt

feat(hindsight): route AI workloads through OmniRoute (#1281)
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
Due: sops-auto-encrypt

fix(hindsight): restore LiteLLM routing
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
Due: sops-auto-encrypt

fix(hindsight): restore LiteLLM routing (#1282)
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
Due: sops-auto-encrypt

fix(sure): restore LiteLLM routing
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

feat(omniroute): manage phase 1 migration state
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/roles/containers/omniroute/README.md
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/examples/bootstrap-config.redacted.json
  ansible/roles/containers/omniroute/tasks/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/roles/containers/omniroute/templates/docker-compose.yml.j2
  ansible/roles/containers/omniroute/templates/omniroute.env.j2
  ansible/roles/containers/omniroute/tests/test_bootstrap_omniroute.py
  ansible/secrets/README.md
Due: ansible-lint

fix(omniroute): drop persistent alias tombstones
  ansible/roles/containers/omniroute/README.md
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/examples/bootstrap-config.redacted.json
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/roles/containers/omniroute/tests/test_bootstrap_omniroute.py
Due: ansible-lint

chore(omniroute): remove generated examples and tests
  ansible/roles/containers/omniroute/README.md
  ansible/roles/containers/omniroute/examples/bootstrap-config.redacted.json
  ansible/roles/containers/omniroute/tests/test_bootstrap_omniroute.py
Due: none

fix(omniroute): preserve reconciled model state
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
Due: ansible-lint

fix(omniroute): restore metadata to custom model rows
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
Due: ansible-lint

feat(omniroute): manage phase 1 migration state (#1283)
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/roles/containers/omniroute/README.md
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/tasks/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/roles/containers/omniroute/templates/docker-compose.yml.j2
  ansible/roles/containers/omniroute/templates/omniroute.env.j2
  ansible/secrets/README.md
Due: ansible-lint

fix(omniroute): update image for semantic cache
  ansible/roles/containers/omniroute/defaults/main.yml
Due: ansible-lint

fix(omniroute): update image for semantic cache (#1284)
  ansible/roles/containers/omniroute/defaults/main.yml
Due: ansible-lint

feat(omniroute): migrate managed AI clients
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
  kubernetes/apps/apps/ai/open-webui/README.md
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
  kubernetes/apps/apps/ai/open-webui/open-webui-secrets.sops.yaml
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/n8n-secrets.sops.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-secrets.sops.yaml
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
  kubernetes/apps/apps/utils/karakeep/karakeep-ai-secrets.sops.yaml
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

feat(omniroute): migrate managed AI clients (#1285)
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
  kubernetes/apps/apps/ai/open-webui/README.md
  kubernetes/apps/apps/ai/open-webui/helmrelease.yaml
  kubernetes/apps/apps/ai/open-webui/open-webui-secrets.sops.yaml
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/n8n-secrets.sops.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-secrets.sops.yaml
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
  kubernetes/apps/apps/utils/karakeep/karakeep-ai-secrets.sops.yaml
  kubernetes/apps/apps/utils/sure/helmrelease.yaml
  kubernetes/apps/apps/utils/sure/sure-secrets.sops.yaml
Due: sops-auto-encrypt

feat(ansible): update OmniRoute models, keys, and pricing sync
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/roles/containers/omniroute/README.md
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/templates/docker-compose.yml.j2
  ansible/roles/containers/omniroute/templates/omniroute.env.j2
Due: ansible-lint

feat(ansible): update OmniRoute models, keys, and pricing sync (#1286)
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/roles/containers/omniroute/README.md
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/templates/docker-compose.yml.j2
  ansible/roles/containers/omniroute/templates/omniroute.env.j2
Due: ansible-lint

fix(renovate): use supported Apollo manager file pattern
  renovate.json
Due: none

chore(deps): Update kasmweb/discord:1.19.0-rolling-weekly Docker digest to c96b4e3
  kubernetes/apps/apps/utils/discord-presence/alternate/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/main/helmrelease.yaml
Due: none
