Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

chore(deps): Update Helm release loki to v14
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

fix(renovate): run the cronjob every 6 hours
  kubernetes/infrastructure/automation/renovate/cronjob.yaml
Due: none

fix(renovate): run the cronjob every 6 hours (#470)
  kubernetes/infrastructure/automation/renovate/cronjob.yaml
Due: none

chore(deps): Update Helm release loki to v14 (#466)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.21.3
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.21.3 (#467)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(apps): downscale framework ai workloads
  kubernetes/apps/apps/ai/kokoro/helmrelease.yaml
  kubernetes/apps/apps/ai/llama-swap/helmrelease.yaml
  kubernetes/apps/apps/ai/whisper/helmrelease.yaml
Due: none

chore(apps): downscale ai-dependent workloads
  kubernetes/apps/apps/ai/sillytavern/helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-ai-helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
Due: none

feat: replace Framework with pve3
  ansible/inventories/baremetal.yml
  ansible/inventories/host_vars/framework.yml
  ansible/inventories/host_vars/pve3.yml
  ansible/inventories/k3s-cluster.yml
Due: ansible-lint

feat: add pve3 Vulkan packages
  ansible/inventories/host_vars/pve3.yml
Due: ansible-lint

feat(ansible): replace Framework with pve3 (#474)
  ansible/inventories/baremetal.yml
  ansible/inventories/host_vars/framework.yml
  ansible/inventories/host_vars/pve3.yml
  ansible/inventories/k3s-cluster.yml
Due: ansible-lint

feat(packer): add pve3 build sources
  packer/fedora-43-server/fedora-43.pkr.hcl
  packer/ubuntu-24.04-base/ubuntu-24.04.pkr.hcl
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
Due: packer-fmt

feat(packer): add pve3 build sources (#475)
  packer/fedora-43-server/fedora-43.pkr.hcl
  packer/ubuntu-24.04-base/ubuntu-24.04.pkr.hcl
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
Due: packer-fmt

feat(terraform): add pve3 k3s node
  ansible/inventories/k3s-nodes.yml
  terraform/instances/k3s_nodes/vm_definition.tf
  terraform/modules/proxmox_vms/main.tf
Due: ansible-lint, terraform-fmt

fix(terraform): set pve3 k3s CPU vendor label
  ansible/inventories/k3s-nodes.yml
  terraform/instances/k3s_nodes/vm_definition.tf
Due: ansible-lint, terraform-fmt

fix(ansible): allow OpenClaw from k3s node 03
  ansible/inventories/group_vars/openclaw_vms.yml
Due: ansible-lint

fix(ansible): remove Framework OpenClaw allowlist
  ansible/inventories/group_vars/openclaw_vms.yml
Due: ansible-lint

feat(terraform): add pve3 k3s node (#476)
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/inventories/k3s-nodes.yml
  terraform/instances/k3s_nodes/vm_definition.tf
  terraform/modules/proxmox_vms/main.tf
Due: ansible-lint, terraform-fmt

fix(ansible): refresh apt cache for unattended deps
  ansible/roles/common/tasks/os-debian.yml
Due: ansible-lint

fix(ansible): refresh apt cache for unattended deps (#477)
  ansible/roles/common/tasks/os-debian.yml
Due: ansible-lint

chore(deps): Update rebelcore/jellyfin-exporter Docker tag to v1.5.1
  kubernetes/apps/apps/media/jellyfin-exporter/helmrelease.yaml
Due: none

feat(ansible): manage pve3 power tuning
  ansible/inventories/host_vars/pve3.yml
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/power_saving.yml
  ansible/roles/proxmox/templates/power-tuning.service.j2
Due: ansible-lint

chore(deps): Update rebelcore/jellyfin-exporter Docker tag to v1.5.1 (#468)
  kubernetes/apps/apps/media/jellyfin-exporter/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v16
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

refactor(ansible): improve proxmox role maintainability
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/host_vars/pve1.yml
  ansible/inventories/host_vars/pve2.yml
  ansible/inventories/host_vars/pve3.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/corefreq.yml
  ansible/roles/proxmox/tasks/gpu_passthrough.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/power_saving.yml
  ansible/roles/proxmox/tasks/swap.yml
  ansible/roles/proxmox/tasks/zfs_thin_audit.yml
  ansible/roles/proxmox/tasks/zfs_thin_fix.yml
  ansible/roles/proxmox/templates/corefreqd.service.j2
  ansible/roles/proxmox/templates/power-tuning.service.j2
Due: ansible-lint

fix(ansible): handle empty power cron cleanup
  ansible/roles/proxmox/tasks/power_saving.yml
Due: ansible-lint

feat(ansible): manage pve2 power tuning
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/host_vars/pve2.yml
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/power_saving.yml
Due: ansible-lint

refactor(ansible): improve proxmox role maintainability (#479)
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/host_vars/pve1.yml
  ansible/inventories/host_vars/pve2.yml
  ansible/inventories/host_vars/pve3.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/corefreq.yml
  ansible/roles/proxmox/tasks/gpu_passthrough.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/power_saving.yml
  ansible/roles/proxmox/tasks/swap.yml
  ansible/roles/proxmox/tasks/zfs_thin_audit.yml
  ansible/roles/proxmox/tasks/zfs_thin_fix.yml
  ansible/roles/proxmox/templates/corefreqd.service.j2
  ansible/roles/proxmox/templates/power-tuning.service.j2
Due: ansible-lint

chore(kubernetes): run renovate hourly
  kubernetes/infrastructure/automation/renovate/cronjob.yaml
Due: none

chore(deps): Update Helm release loki to v16 (#473)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

refactor(terraform): group instance roots by type
  CONTRIBUTING.md
  terraform/AGENTS.md
  terraform/instances/lxc/.gitkeep
  terraform/instances/vm/k3s_nodes/ansible_inventory.tf
  terraform/instances/vm/k3s_nodes/main.tf
  terraform/instances/vm/k3s_nodes/providers.tf
  terraform/instances/vm/k3s_nodes/templates/inventory.yaml.tpl
  terraform/instances/vm/k3s_nodes/vm_definition.tf
  terraform/instances/vm/openclaw/ansible_inventory.tf
  terraform/instances/vm/openclaw/main.tf
  terraform/instances/vm/openclaw/providers.tf
  terraform/instances/vm/openclaw/templates/inventory.yaml.tpl
  terraform/instances/vm/openclaw/vm_definition.tf
Due: terraform-fmt

feat(terraform): add reusable proxmox lxc module
  terraform/modules/proxmox_lxc/README.md
  terraform/modules/proxmox_lxc/main.tf
  terraform/modules/proxmox_lxc/outputs.tf
  terraform/modules/proxmox_lxc/providers.tf
  terraform/modules/proxmox_lxc/variables.tf
Due: terraform-fmt

feat(ansible): add amd gpu support for pve3
  ansible/inventories/host_vars/pve3.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/ai_amd_packages.yml
  ansible/roles/proxmox/tasks/main.yml
Due: ansible-lint

chore(deps): Update Helm release traefik to v40.1.0
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

feat(ansible): manage proxmox host directories
  ansible/inventories/host_vars/pve3.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/host_directories.yml
  ansible/roles/proxmox/tasks/main.yml
Due: ansible-lint

chore(deps): Update Helm release traefik to v40.1.0 (#472)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update remsky/kokoro-fastapi-cpu Docker tag to v0.3.0
  kubernetes/apps/apps/ai/kokoro/helmrelease.yaml
Due: none

chore(deps): Update remsky/kokoro-fastapi-cpu Docker tag to v0.3.0 (#469)
  kubernetes/apps/apps/ai/kokoro/helmrelease.yaml
Due: none

chore(deps): Update Helm release cloudnative-pg to v0.28.2
  kubernetes/infrastructure/database/cloudnative-pg/install/helmrelease.yaml
Due: none

feat(terraform): add llm lxc container
  ansible/inventories/host_vars/pve3.yml
  ansible/inventories/llm.yml
  terraform/instances/lxc/.gitkeep
  terraform/instances/lxc/llm/ansible_inventory.tf
  terraform/instances/lxc/llm/lxc_definition.tf
  terraform/instances/lxc/llm/main.tf
  terraform/instances/lxc/llm/providers.tf
  terraform/instances/lxc/llm/templates/inventory.yaml.tpl
  terraform/modules/proxmox_lxc/main.tf
  terraform/modules/proxmox_lxc/variables.tf
Due: ansible-lint, terraform-fmt

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
