Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

chore(deps): Update caronc/apprise Docker tag to v2.0.1
  kubernetes/apps/apps/comms/apprise/helmrelease.yaml
Due: none

chore(deps): Update caronc/apprise Docker tag to v2.0.1 (#1374)
  kubernetes/apps/apps/comms/apprise/helmrelease.yaml
Due: none

refactor(ansible): modularize role tasks and refresh HashiCorp keys
  ansible/README.md
  ansible/playbooks/development.yml
  ansible/roles/containers/netbird/tasks/deployment.yml
  ansible/roles/containers/netbird/tasks/main.yml
  ansible/roles/containers/netbird/tasks/networking.yml
  ansible/roles/containers/netbird/tasks/secrets.yml
  ansible/roles/containers/netbird/tasks/verification.yml
  ansible/roles/containers/omniroute/tasks/api-bootstrap.yml
  ansible/roles/containers/omniroute/tasks/deployment.yml
  ansible/roles/containers/omniroute/tasks/main.yml
  ansible/roles/containers/omniroute/tasks/secrets.yml
  ansible/roles/development_workstation/tasks/hashicorp-key.yml
  ansible/roles/development_workstation/tasks/repositories.yml
  ansible/roles/hermes/tasks/dashboard.yml
  ansible/roles/hermes/tasks/default-gateway.yml
  ansible/roles/hermes/tasks/identity.yml
  ansible/roles/hermes/tasks/install-prerequisites.yml
  ansible/roles/hermes/tasks/install.yml
  ansible/roles/hermes/tasks/main.yml
  ansible/roles/hermes/tasks/named-profiles.yml
  ansible/roles/k3s/tasks/download_binary.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/tasks/upgrade.yml
  ansible/roles/llm_runtime/tasks/build.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/tasks/packages.yml
  ansible/roles/llm_runtime/tasks/preflight.yml
  ansible/roles/llm_runtime/tasks/source.yml
  ansible/roles/llm_runtime/tasks/validation.yml
Due: ansible-lint

chore(deps): Update berriai/litellm Docker tag to v1.104.0
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

refactor(ansible): modularize role tasks and refresh HashiCorp keys (#1375)
  ansible/README.md
  ansible/playbooks/development.yml
  ansible/roles/containers/netbird/tasks/deployment.yml
  ansible/roles/containers/netbird/tasks/main.yml
  ansible/roles/containers/netbird/tasks/networking.yml
  ansible/roles/containers/netbird/tasks/secrets.yml
  ansible/roles/containers/netbird/tasks/verification.yml
  ansible/roles/containers/omniroute/tasks/api-bootstrap.yml
  ansible/roles/containers/omniroute/tasks/deployment.yml
  ansible/roles/containers/omniroute/tasks/main.yml
  ansible/roles/containers/omniroute/tasks/secrets.yml
  ansible/roles/development_workstation/tasks/hashicorp-key.yml
  ansible/roles/development_workstation/tasks/repositories.yml
  ansible/roles/hermes/tasks/dashboard.yml
  ansible/roles/hermes/tasks/default-gateway.yml
  ansible/roles/hermes/tasks/identity.yml
  ansible/roles/hermes/tasks/install-prerequisites.yml
  ansible/roles/hermes/tasks/install.yml
  ansible/roles/hermes/tasks/main.yml
  ansible/roles/hermes/tasks/named-profiles.yml
  ansible/roles/k3s/tasks/download_binary.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/tasks/upgrade.yml
  ansible/roles/llm_runtime/tasks/build.yml
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/tasks/packages.yml
  ansible/roles/llm_runtime/tasks/preflight.yml
  ansible/roles/llm_runtime/tasks/source.yml
  ansible/roles/llm_runtime/tasks/validation.yml
Due: ansible-lint

refactor(ansible): migrate Proxmox swap to reusable swapfile role.
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/handlers/main.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/swap.yml
  ansible/roles/swapfile/defaults/main.yml
  ansible/roles/swapfile/handlers/main.yml
  ansible/roles/swapfile/tasks/activate.yml
  ansible/roles/swapfile/tasks/main.yml
Due: ansible-lint

refactor(ansible): migrate Proxmox swap to reusable swapfile role. (#1377)
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/handlers/main.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/swap.yml
  ansible/roles/swapfile/defaults/main.yml
  ansible/roles/swapfile/handlers/main.yml
  ansible/roles/swapfile/tasks/activate.yml
  ansible/roles/swapfile/tasks/main.yml
Due: ansible-lint

fix(hindsight): restore shared worker capacity and limit reranking
  docs/decisions-and-tradeoffs.md
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.104.0 (#1376)
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.8.1
  kubernetes/apps/apps/comms/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-frontend Docker tag to v3.8.1
  kubernetes/apps/apps/comms/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.8.1 (#1378)
  kubernetes/apps/apps/comms/mailflow/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-frontend Docker tag to v3.8.1 (#1379)
  kubernetes/apps/apps/comms/mailflow/helmrelease.yaml
Due: none

chore(deps): Update Helm release longhorn to v1.13.0
  kubernetes/infrastructure/storage/longhorn/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.24.0
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update Helm release longhorn to v1.13.0 (#1380)
  kubernetes/infrastructure/storage/longhorn/install/helmrelease.yaml
Due: none

chore(deps): Update bellamy/scrob Docker tag to v2.24.0 (#1381)
  kubernetes/apps/apps/media/scrob/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v91.8.2
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(kubernetes): add BookOrbit with native OIDC
  kubernetes/apps/apps/media/bookorbit/bookorbit-db-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/cnpg-cluster.yaml
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/kustomization.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/bookorbit-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release kube-prometheus-stack to v91.8.2 (#1382)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(kubernetes): use BookOrbit release and Homepage icon
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

feat(kubernetes): add BookOrbit with native OIDC (#1383)
  kubernetes/apps/apps/media/bookorbit/bookorbit-db-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/cnpg-cluster.yaml
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/kustomization.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/bookorbit-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

fix(kubernetes): preserve BookOrbit script through Flux substitution
  kubernetes/apps/apps/media/bookorbit/kustomization.yaml
Due: none

fix(kubernetes): preserve BookOrbit script through Flux substitution (#1384)
  kubernetes/apps/apps/media/bookorbit/kustomization.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.174.0
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

fix(kubernetes): correct BookOrbit authentication and libraries
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release opentelemetry-collector to v0.174.0 (#1385)
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

fix(kubernetes): correct BookOrbit authentication and libraries (#1386)
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

feat(bookorbit): enforce authoritative library definitions
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
Due: none

feat(bookorbit): reconcile Prowlarr request sources
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/apps/media/prowlarr/prowlarr-secrets.sops.yaml
Due: sops-auto-encrypt

feat(bookorbit): configure encrypted email delivery
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

fix(bookorbit): support iOS OIDC login and Authentik branding
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

fix(bookorbit): derive reconciliation image from HelmRelease
  kubernetes/apps/apps/media/bookorbit/kustomization.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
Due: none

fix(bookorbit): update library modes and job schedules
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
Due: none

chore(bookorbit): remove SMTP credential setup comment
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
Due: sops-auto-encrypt

feat(bookorbit): configure integrations and library reconciliation (#1387)
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/kustomization.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/kustomization.yaml
  kubernetes/apps/apps/media/prowlarr/prowlarr-secrets.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

feat(bookorbit): reconcile Hardcover metadata and account sync
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
Due: none

feat(bookorbit): enable additional metadata providers
  kubernetes/apps/apps/media/bookorbit/bookorbit-secrets.sops.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
Due: sops-auto-encrypt

feat(bookorbit): configure SABnzbd downloader
  kubernetes/apps/apps/media/bookorbit/helmrelease.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
  kubernetes/apps/apps/media/sabnzbd/kustomization.yaml
  kubernetes/apps/apps/media/sabnzbd/sabnzbd-secrets.sops.yaml
Due: sops-auto-encrypt

feat(bookorbit): reconcile pinned open-library plugins
  kubernetes/apps/apps/media/bookorbit/reconcile-cronjob.yaml
  kubernetes/apps/apps/media/bookorbit/reconcile.mjs
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
