Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

refactor(kubernetes): remove OpenClaw proxy and SSO
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/openclaw.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/middlewares/openclaw-auth-chain.yaml
  kubernetes/infrastructure/security/authentik/config/kustomization.yaml
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/openclaw-gateway-secret.sops.yaml
Due: sops-auto-encrypt

refactor(authentik): rename AI agent variables
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

refactor(homepage): remove OpenClaw entry
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

feat: migrate OpenClaw VM to Hermes (#968)
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/hermes_vms.yml
  ansible/inventories/group_vars/openclaw_vms.yml
  ansible/inventories/hermes.yml
  ansible/inventories/openclaw.yml
  ansible/playbooks/hermes.yml
  ansible/playbooks/openclaw.yml
  ansible/roles/common/tasks/os-debian.yml
  ansible/roles/hermes/defaults/main.yml
  ansible/roles/hermes/tasks/main.yml
  ansible/roles/openclaw/defaults/main.yml
  ansible/roles/openclaw/tasks/bootstrap.yml
  ansible/roles/openclaw/tasks/install.yml
  ansible/roles/openclaw/tasks/main.yml
  ansible/roles/openclaw/tasks/onboarding.yml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/openclaw.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/middlewares/openclaw-auth-chain.yaml
  kubernetes/infrastructure/security/authentik/config/kustomization.yaml
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/openclaw-gateway-secret.sops.yaml
  terraform/instances/vm/hermes/ansible_inventory.tf
  terraform/instances/vm/hermes/main.tf
  terraform/instances/vm/hermes/providers.tf
  terraform/instances/vm/hermes/vm_definition.tf
  terraform/instances/vm/openclaw/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

chore(deps): Update Helm release loki to v18.7.5 (#967)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

fix(packer): stabilize ubuntu 26.04 builds
  packer/scripts/setup-ubuntu-base.sh
  packer/ubuntu-26.04-base/build.sh
  packer/ubuntu-26.04-base/http/user-data.template
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
  packer/ubuntu-26.04-base/variables.pkr.hcl
Due: packer-fmt

fix(packer): stabilize ubuntu 26.04 builds (#969)
  packer/scripts/setup-ubuntu-base.sh
  packer/ubuntu-26.04-base/build.sh
  packer/ubuntu-26.04-base/http/user-data.template
  packer/ubuntu-26.04-base/ubuntu-26.04.pkr.hcl
  packer/ubuntu-26.04-base/variables.pkr.hcl
Due: packer-fmt

chore(litellm): remove obsolete streaming patch
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.96.2 (#879)
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(litellm): restore ChatGPT streaming compatibility
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.169.0
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.35
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.169.0 (#970)
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.35 (#971)
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

feat(hermes): add cluster access
  kubernetes/apps/apps/external-proxy/hermes.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/hermes-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

fix(hermes): bind cluster access
  kubernetes/apps/apps/external-proxy/hermes.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

feat(hermes): add cluster access (#972)
  kubernetes/apps/apps/external-proxy/hermes.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/hermes-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

chore(deps): Update n8nio/n8n Docker tag to v2.35.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.35.2 (#973)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.8.0
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.8.0 (#974)
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/nextcloud Docker tag to v34.0.3
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.53.1
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/nextcloud Docker tag to v34.0.3 (#975)
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.53.1 (#976)
  kubernetes/apps/apps/utils/karakeep/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/kometa Docker tag to v2.4.7 (#966)
  kubernetes/apps/apps/media/plex-media-enrichment/kometa-job.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.8.1
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

chore(deps): Update cloudflare/cloudflared Docker tag to v2026.8.1 (#977)
  kubernetes/infrastructure/networking/cloudflared/install/helmrelease.yaml
Due: none

feat(hermes): add gateway and dashboard services
  .gitignore
  .ignore
  ansible/roles/hermes/defaults/main.yml
  ansible/roles/hermes/handlers/main.yml
  ansible/roles/hermes/tasks/main.yml
  ansible/roles/hermes/templates/hermes-dashboard.service.j2
  ansible/roles/hermes/templates/hermes-gateway.service.j2
Due: ansible-lint

feat(hermes): add gateway and dashboard services (#978)
  .gitignore
  .ignore
  ansible/roles/hermes/defaults/main.yml
  ansible/roles/hermes/handlers/main.yml
  ansible/roles/hermes/tasks/main.yml
  ansible/roles/hermes/templates/hermes-dashboard.service.j2
  ansible/roles/hermes/templates/hermes-gateway.service.j2
Due: ansible-lint

feat(ai): add hindsight memory service
  kubernetes/apps/apps/ai/hindsight/cnpg-cluster.yaml
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-db-secrets.sops.yaml
  kubernetes/apps/apps/ai/hindsight/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
Due: sops-auto-encrypt

fix(ai): add hindsight LiteLLM secret
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
  kubernetes/apps/apps/ai/hindsight/kustomization.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release loki to v18.7.6
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore: update litellm key
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
Due: sops-auto-encrypt

fix(ai): configure hindsight ingresses
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/kustomization.yaml
Due: none

fix(ai): use shared hindsight ingress
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/kustomization.yaml
Due: none

feat(ai): add hindsight memory service (#979)
  kubernetes/apps/apps/ai/hindsight/cnpg-cluster.yaml
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-db-secrets.sops.yaml
  kubernetes/apps/apps/ai/hindsight/hindsight-secrets.sops.yaml
  kubernetes/apps/apps/ai/hindsight/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
Due: sops-auto-encrypt

fix(ai): correct hindsight startup configuration
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.7.6 (#980)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

fix(ai): set hindsight output language
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
