Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

refactor(terraform): make proxmox vm ssh keys configurable
  terraform/modules/proxmox_vms/main.tf
  terraform/modules/proxmox_vms/variables.tf
Due: terraform-fmt

refactor(terraform): simplify root vm definitions
  terraform/instances/vm/k3s_nodes/vm_definition.tf
  terraform/instances/vm/openclaw/vm_definition.tf
Due: terraform-fmt

feat(terraform): harden hetzner cloud init
  terraform/modules/hetzner/vm/cloud_init.tf
Due: terraform-fmt

refactor(terraform): harden lxc bootstrap
  terraform/modules/proxmox_lxc/main.tf
  terraform/modules/proxmox_lxc/scripts/bootstrap-ssh.sh
Due: terraform-fmt

chore(terraform): align provider constraints
  terraform/cloud/hetzner/firewall/providers.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/ssh_keys/providers.tf
  terraform/modules/hetzner/firewall/providers.tf
  terraform/modules/hetzner/ssh_keys/providers.tf
  terraform/modules/hetzner/vm/providers.tf
  terraform/modules/proxmox_lxc/providers.tf
  terraform/modules/proxmox_vms/providers.tf
Due: terraform-fmt

refactor(terraform): generate inventories with yamlencode
  terraform/cloud/hetzner/servers/netbird/ansible_inventory.tf
  terraform/cloud/hetzner/servers/netbird/templates/inventory.yaml.tpl
  terraform/instances/lxc/llm/ansible_inventory.tf
  terraform/instances/lxc/llm/templates/inventory.yaml.tpl
  terraform/instances/vm/k3s_nodes/ansible_inventory.tf
  terraform/instances/vm/k3s_nodes/templates/inventory.yaml.tpl
  terraform/instances/vm/openclaw/ansible_inventory.tf
  terraform/instances/vm/openclaw/templates/inventory.yaml.tpl
Due: terraform-fmt

fix(terraform): preserve generated inventory warnings
  terraform/cloud/hetzner/servers/netbird/ansible_inventory.tf
  terraform/instances/lxc/llm/ansible_inventory.tf
  terraform/instances/vm/k3s_nodes/ansible_inventory.tf
  terraform/instances/vm/openclaw/ansible_inventory.tf
Due: terraform-fmt

fix(terraform): normalize nullable k3s node lists
  terraform/instances/vm/k3s_nodes/vm_definition.tf
Due: terraform-fmt

refactor(terraform): harden terraform modules (#520)
  .pre-commit-config.yaml
  terraform/cloud/hetzner/firewall/providers.tf
  terraform/cloud/hetzner/servers/netbird/ansible_inventory.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/templates/inventory.yaml.tpl
  terraform/cloud/hetzner/ssh_keys/providers.tf
  terraform/instances/lxc/llm/ansible_inventory.tf
  terraform/instances/lxc/llm/templates/inventory.yaml.tpl
  terraform/instances/vm/k3s_nodes/ansible_inventory.tf
  terraform/instances/vm/k3s_nodes/templates/inventory.yaml.tpl
  terraform/instances/vm/k3s_nodes/vm_definition.tf
  terraform/instances/vm/openclaw/ansible_inventory.tf
  terraform/instances/vm/openclaw/templates/inventory.yaml.tpl
  terraform/instances/vm/openclaw/vm_definition.tf
  terraform/modules/hetzner/firewall/providers.tf
  terraform/modules/hetzner/firewall/variables.tf
  terraform/modules/hetzner/ssh_keys/providers.tf
  terraform/modules/hetzner/ssh_keys/variables.tf
  terraform/modules/hetzner/vm/cloud_init.tf
  terraform/modules/hetzner/vm/main.tf
  terraform/modules/hetzner/vm/providers.tf
  terraform/modules/hetzner/vm/variables.tf
  terraform/modules/proxmox_lxc/main.tf
  terraform/modules/proxmox_lxc/providers.tf
  terraform/modules/proxmox_lxc/scripts/bootstrap-ssh.sh
  terraform/modules/proxmox_lxc/variables.tf
  terraform/modules/proxmox_vms/main.tf
  terraform/modules/proxmox_vms/providers.tf
  terraform/modules/proxmox_vms/variables.tf
Due: terraform-fmt

fix(packer): preserve vm ssh host keys
  packer/fedora-43-server/scripts/setup.sh
  packer/scripts/setup-ubuntu-base.sh
Due: none

fix(packer): preserve vm ssh host keys (#521)
  packer/fedora-43-server/scripts/setup.sh
  packer/scripts/setup-ubuntu-base.sh
Due: none

refactor(terraform): organize proxmox modules
  terraform/instances/lxc/llm/main.tf
  terraform/instances/vm/k3s_nodes/main.tf
  terraform/instances/vm/openclaw/main.tf
  terraform/modules/proxmox/lxc/main.tf
  terraform/modules/proxmox/lxc/outputs.tf
  terraform/modules/proxmox/lxc/providers.tf
  terraform/modules/proxmox/lxc/scripts/bootstrap-ssh.sh
  terraform/modules/proxmox/lxc/variables.tf
  terraform/modules/proxmox/vm/main.tf
  terraform/modules/proxmox/vm/outputs.tf
  terraform/modules/proxmox/vm/providers.tf
  terraform/modules/proxmox/vm/variables.tf
Due: terraform-fmt

docs(terraform): automate module docs
  .github/workflows/terraform-docs.yml
  terraform/modules/hetzner/firewall/README.md
  terraform/modules/hetzner/ssh_keys/README.md
  terraform/modules/hetzner/vm/README.md
  terraform/modules/proxmox/lxc/README.md
  terraform/modules/proxmox/vm/README.md
  terraform/modules/proxmox_lxc/README.md
Due: none

fix(terraform): allow docs commits to trigger checks
  .github/workflows/terraform-docs.yml
Due: none

fix(terraform): dispatch checks after docs updates
  .github/workflows/commit-message-policy.yml
  .github/workflows/terraform-docs.yml
Due: none

docs(terraform): add module docs automation (#522)
  .github/workflows/commit-message-policy.yml
  .github/workflows/terraform-docs.yml
  terraform/instances/lxc/llm/main.tf
  terraform/instances/vm/k3s_nodes/main.tf
  terraform/instances/vm/openclaw/main.tf
  terraform/modules/hetzner/firewall/README.md
  terraform/modules/hetzner/ssh_keys/README.md
  terraform/modules/hetzner/vm/README.md
  terraform/modules/proxmox/lxc/README.md
  terraform/modules/proxmox/lxc/main.tf
  terraform/modules/proxmox/lxc/outputs.tf
  terraform/modules/proxmox/lxc/providers.tf
  terraform/modules/proxmox/lxc/scripts/bootstrap-ssh.sh
  terraform/modules/proxmox/lxc/variables.tf
  terraform/modules/proxmox/vm/README.md
  terraform/modules/proxmox/vm/main.tf
  terraform/modules/proxmox/vm/outputs.tf
  terraform/modules/proxmox/vm/providers.tf
  terraform/modules/proxmox/vm/variables.tf
  terraform/modules/proxmox_lxc/README.md
Due: terraform-fmt

feat(k3s): enable embedded registry mirror
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
Due: ansible-lint

feat(k3s): enable embedded registry mirror (#523)
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
Due: ansible-lint

feat(authentik): add harbor oidc integration
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/harbor-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

feat(registry): add harbor proxy cache
  kubernetes/clusters/production/ks/63-harbor-install.yaml
  kubernetes/clusters/production/ks/64-harbor-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-cronjob.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/config/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
  kubernetes/infrastructure/registry/harbor/install/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/secret.sops.yaml
  kubernetes/infrastructure/sources/harbor.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
Due: sops-auto-encrypt

feat(registry): add harbor proxy cache (#524)
  kubernetes/clusters/production/ks/63-harbor-install.yaml
  kubernetes/clusters/production/ks/64-harbor-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-cronjob.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-secret.sops.yaml
  kubernetes/infrastructure/registry/harbor/config/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
  kubernetes/infrastructure/registry/harbor/install/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/harbor-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/sources/harbor.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
Due: sops-auto-encrypt

fix(registry): avoid harbor servicemonitor label collision
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
  kubernetes/infrastructure/registry/harbor/install/kustomization.yaml
  kubernetes/infrastructure/registry/harbor/install/servicemonitor.yaml
Due: none

fix(registry): point harbor bootstrap at core service
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-cronjob.yaml
Due: none

fix(registry): use generic proxy type for quay
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
Due: none

fix(registry): correct harbor oidc and homepage link
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(registry): add harbor cache policies
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
Due: none

feat(registry): schedule harbor garbage collection
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
Due: none

fix(registry): keep harbor gc schedule idempotent
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
Due: none

feat(k3s): use harbor registry mirrors
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: ansible-lint

feat(k3s): use harbor registry mirrors (#525)
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/k3s/templates/registries.yaml.j2
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: ansible-lint

fix(apps): always pull floating app images
  kubernetes/apps/apps/immich/auto-stack-cronjob.yaml
  kubernetes/apps/apps/media/plex-exporter/helmrelease.yaml
  kubernetes/apps/apps/security/frigate/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/alternate/helmrelease.yaml
  kubernetes/apps/apps/utils/discord-presence/main/helmrelease.yaml
Due: none

chore(kubernetes): remove whisper app
  kubernetes/apps/apps/ai/whisper/helmrelease.yaml
  kubernetes/apps/apps/ai/whisper/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

chore(deps): Update berriai/litellm Docker tag to v1.86.0
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(renovate): use harbor proxy cache
  ansible/roles/k3s/defaults/main.yml
  kubernetes/infrastructure/automation/renovate/configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  renovate.json
Due: ansible-lint

fix(renovate): route default docker lookups through harbor
  kubernetes/infrastructure/automation/renovate/configmap.yaml
Due: none

fix(renovate): use harbor proxy cache (#528)
  ansible/roles/k3s/defaults/main.yml
  kubernetes/infrastructure/automation/renovate/configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
  renovate.json
Due: ansible-lint

chore(deps): Update Helm release kube-prometheus-stack to v85.2.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v85.2.0 (#526)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(renovate): route docker lookups through harbor
  kubernetes/infrastructure/automation/renovate/configmap.yaml
Due: none

fix(registry): route n8n through dockerhub proxy
  kubernetes/infrastructure/automation/renovate/configmap.yaml
  kubernetes/infrastructure/registry/harbor/config/bootstrap-configmap.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
