Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps): Update n8nio/n8n Docker tag to v2.23.0
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.23.0 (#536)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

fix(renovate): use platform automerge for kubernetes
  renovate.json
Due: none

fix(registry): upgrade harbor proxy cache patch
  kubernetes/infrastructure/registry/harbor/install/helmrelease.yaml
Due: none

fix(renovate): query lscr tags directly
  kubernetes/infrastructure/automation/renovate/configmap.yaml
Due: none

fix(renovate): loosen harbor lookup throttling
  kubernetes/infrastructure/automation/renovate/configmap.yaml
Due: none

fix(renovate): raise harbor lookup throttle
  kubernetes/infrastructure/automation/renovate/configmap.yaml
Due: none

feat(ansible): configure battery charge limits
  ansible/inventories/host_vars/g14-2022.yml
  ansible/roles/headless_laptop/defaults/main.yml
  ansible/roles/headless_laptop/tasks/battery_charge_limit.yml
  ansible/roles/headless_laptop/tasks/main.yml
Due: ansible-lint

feat(ansible): install docker on headless laptops
  ansible/inventories/host_vars/g14-2022.yml
  ansible/playbooks/headless_laptops.yml
Due: ansible-lint

feat(ansible): configure swap and boot params
  ansible/inventories/host_vars/g14-2022.yml
  ansible/playbooks/headless_laptops.yml
  ansible/roles/headless_laptop/defaults/main.yml
  ansible/roles/headless_laptop/handlers/main.yml
  ansible/roles/headless_laptop/tasks/bootloader.yml
  ansible/roles/headless_laptop/tasks/main.yml
  ansible/roles/swapfile/defaults/main.yml
  ansible/roles/swapfile/tasks/main.yml
Due: ansible-lint

fix(ansible): override kdump crashkernel setting
  ansible/roles/headless_laptop/defaults/main.yml
  ansible/roles/headless_laptop/tasks/bootloader.yml
Due: ansible-lint

feat(ansible): install headless laptop tools
  ansible/inventories/host_vars/g14-2022.yml
  ansible/roles/headless_laptop/defaults/main.yml
  ansible/roles/headless_laptop/tasks/packages.yml
Due: ansible-lint

chore(deps): Update Helm release kube-prometheus-stack to v85.3.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v85.3.0 (#547)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v17.1.0
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v17.1.0 (#548)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.23.1
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.23.1 (#549)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v86
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(ansible): manage asus quiet fan policy
  ansible/inventories/host_vars/g14-2022.yml
  ansible/roles/headless_laptop/defaults/main.yml
  ansible/roles/headless_laptop/tasks/asus_quiet_fan_policy.yml
  ansible/roles/headless_laptop/tasks/main.yml
  ansible/roles/headless_laptop/templates/asus-quiet-fan-policy.j2
  ansible/roles/headless_laptop/templates/asus-quiet-fan-policy.service.j2
  ansible/roles/headless_laptop/templates/asus-quiet-fan-policy.timer.j2
Due: ansible-lint

feat(ansible): configure journald retention
  ansible/inventories/host_vars/g14-2022.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/tasks/journald.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/templates/journald-retention.conf.j2
Due: ansible-lint

fix(ansible): lower quiet fan speed
  ansible/inventories/host_vars/g14-2022.yml
Due: ansible-lint

feat(ansible): add headless laptop provisioning (#539)
  ansible/inventories/baremetal.yml
  ansible/inventories/group_vars/all.yml
  ansible/inventories/host_vars/g14-2022.yml
  ansible/playbooks/headless_laptops.yml
  ansible/roles/common/defaults/main.yml
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/tasks/journald.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/templates/journald-retention.conf.j2
  ansible/roles/headless_laptop/defaults/main.yml
  ansible/roles/headless_laptop/handlers/main.yml
  ansible/roles/headless_laptop/tasks/amd_gpu.yml
  ansible/roles/headless_laptop/tasks/asus_quiet_fan_policy.yml
  ansible/roles/headless_laptop/tasks/battery_charge_limit.yml
  ansible/roles/headless_laptop/tasks/bootloader.yml
  ansible/roles/headless_laptop/tasks/logind.yml
  ansible/roles/headless_laptop/tasks/main.yml
  ansible/roles/headless_laptop/tasks/packages.yml
  ansible/roles/headless_laptop/tasks/power_profile.yml
  ansible/roles/headless_laptop/tasks/sleep.yml
  ansible/roles/headless_laptop/templates/asus-quiet-fan-policy.j2
  ansible/roles/headless_laptop/templates/asus-quiet-fan-policy.service.j2
  ansible/roles/headless_laptop/templates/asus-quiet-fan-policy.timer.j2
  ansible/roles/ssh_hardening/tasks/ssh.yml
  ansible/roles/swapfile/defaults/main.yml
  ansible/roles/swapfile/tasks/main.yml
Due: ansible-lint

fix(observability): enable prometheus CRD upgrade job
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v86 (#543)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(observability): force prometheus CRD ownership
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

fix(observability): raise grafana memory limit
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update luigi311/jellyplex-watched Docker tag to v8.5.3
  kubernetes/apps/apps/media/jellyplex-watched/helmrelease.yaml
Due: none

chore(deps): Update luigi311/jellyplex-watched Docker tag to v8.5.3 (#550)
  kubernetes/apps/apps/media/jellyplex-watched/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v17.1.1
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v17.1.1 (#551)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/nextcloud Docker tag to v33.0.4
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/nextcloud Docker tag to v33.0.4 (#552)
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

fix(renovate): only rebase conflicted automerge prs
  renovate.json
Due: none

feat(kubernetes): add bambuddy deployment
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
  kubernetes/apps/apps/utils/bambuddy/kustomization.yaml
  kubernetes/apps/apps/utils/bambuddy/service-virtual-printer.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/bambuddy-data-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/bambuddy-logs-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/kustomization.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

feat(kubernetes): add bambuddy deployment (#553)
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
  kubernetes/apps/apps/utils/bambuddy/kustomization.yaml
  kubernetes/apps/apps/utils/bambuddy/service-virtual-printer.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/utils/bambuddy-data-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/bambuddy-logs-pvc.yaml
  kubernetes/apps/storage/pvcs/utils/kustomization.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): update bambuddy homepage icon
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

chore(deps): Update advplyr/audiobookshelf Docker tag to v2.35.1
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
Due: none

chore(deps): Update advplyr/audiobookshelf Docker tag to v2.35.1 (#554)
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
Due: none

feat(ansible): add Node.js runtime role
  ansible/playbooks/headless_laptops.yml
  ansible/roles/nodejs_runtime/defaults/main.yml
  ansible/roles/nodejs_runtime/handlers/main.yml
  ansible/roles/nodejs_runtime/tasks/main.yml
Due: ansible-lint
