Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

chore(gemini): disable pr review
  .gemini/config.yaml
Due: none

feat(authentik): add OpenClaw gateway password header
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/openclaw-gateway-secret.sops.yaml
Due: sops-auto-encrypt

feat(authentik): add OpenClaw gateway password header (#372)
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/openclaw-gateway-secret.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release kube-prometheus-stack to v83.5.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v83.5.0 (#373)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.0
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.0 (#374)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(authentik): add note on openclaw middleware
  kubernetes/infrastructure/security/authentik/config/middleware-openclaw.yaml
Due: none

refactor(ansible): add focused common task includes
  ansible/roles/common/tasks/identity.yml
  ansible/roles/common/tasks/preflight.yml
Due: ansible-lint

refactor(ansible): split common role entrypoint by concern
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/ssh.yml
Due: ansible-lint

refactor(ansible): split common role tasks by concern (#375)
  ansible/roles/common/tasks/identity.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/preflight.yml
  ansible/roles/common/tasks/ssh.yml
Due: ansible-lint

refactor(ansible): add ssh_hardening role defaults and handlers
  ansible/roles/ssh_hardening/defaults/main.yml
  ansible/roles/ssh_hardening/handlers/main.yml
Due: ansible-lint

refactor(ansible): add ssh_hardening role tasks
  ansible/roles/ssh_hardening/tasks/main.yml
  ansible/roles/ssh_hardening/tasks/ssh.yml
Due: ansible-lint

refactor(ansible): remove ssh handling from common
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/preflight.yml
  ansible/roles/common/tasks/ssh.yml
Due: ansible-lint

refactor(ansible): compose ssh_hardening in base host playbooks
  ansible/playbooks/fedora.yml
  ansible/playbooks/k3s_cluster.yml
  ansible/playbooks/proxmox.yml
  ansible/playbooks/rpi.yml
  ansible/playbooks/ubuntu_vms.yml
Due: ansible-lint

refactor(ansible): compose ssh_hardening in openclaw
  ansible/playbooks/openclaw.yml
Due: ansible-lint

refactor(ansible): extract ssh_hardening role from common (#376)
  ansible/playbooks/fedora.yml
  ansible/playbooks/k3s_cluster.yml
  ansible/playbooks/openclaw.yml
  ansible/playbooks/proxmox.yml
  ansible/playbooks/rpi.yml
  ansible/playbooks/ubuntu_vms.yml
  ansible/roles/common/handlers/main.yml
  ansible/roles/common/tasks/main.yml
  ansible/roles/common/tasks/preflight.yml
  ansible/roles/common/tasks/ssh.yml
  ansible/roles/ssh_hardening/defaults/main.yml
  ansible/roles/ssh_hardening/handlers/main.yml
  ansible/roles/ssh_hardening/tasks/main.yml
  ansible/roles/ssh_hardening/tasks/ssh.yml
Due: ansible-lint

refactor(ansible): drop ssh defaults from common
  ansible/roles/common/defaults/main.yml
Due: ansible-lint

refactor(ansible): rename ssh inventory variables
  ansible/inventories/group_vars/all.yml
  ansible/inventories/group_vars/fedora.yml
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/group_vars/rpi.yml
Due: ansible-lint

chore(git): ignore local ansible inventory overlays
  .gitignore
Due: none

feat(ansible): add public VPS inventory scaffold
  ansible/inventories/public-vps.yml
Due: ansible-lint

docs(ansible): document local public VPS overlay
  docs/GETTING_STARTED.md
Due: none

feat(ansible): add public VPS inventory overlay pattern (#377)
  .gitignore
  ansible/inventories/public-vps.yml
  docs/GETTING_STARTED.md
Due: ansible-lint

feat(ansible): add public VPS baseline playbook
  ansible/inventories/group_vars/public_vps.yml
  ansible/playbooks/public_vps.yml
Due: ansible-lint

fix(ansible): derive public VPS ssh user from ansible_user
  ansible/inventories/group_vars/public_vps.yml
Due: ansible-lint

feat(ansible): add public VPS baseline playbook (#378)
  ansible/inventories/group_vars/public_vps.yml
  ansible/playbooks/public_vps.yml
Due: ansible-lint

feat(ansible): add fail2ban role for SSH protection
  ansible/roles/fail2ban/defaults/main.yml
  ansible/roles/fail2ban/handlers/main.yml
  ansible/roles/fail2ban/tasks/main.yml
  ansible/roles/fail2ban/templates/sshd.conf.j2
Due: ansible-lint

feat(ansible): enable fail2ban for public VPS
  ansible/inventories/group_vars/public_vps.yml
  ansible/playbooks/public_vps.yml
Due: ansible-lint

fix(ansible): keep disabled fail2ban from restarting
  ansible/roles/fail2ban/handlers/main.yml
Due: ansible-lint

feat(ansible): add fail2ban SSH protection for public VPS (#379)
  ansible/inventories/group_vars/public_vps.yml
  ansible/playbooks/public_vps.yml
  ansible/roles/fail2ban/defaults/main.yml
  ansible/roles/fail2ban/handlers/main.yml
  ansible/roles/fail2ban/tasks/main.yml
  ansible/roles/fail2ban/templates/sshd.conf.j2
Due: ansible-lint

chore(deps): Update Helm release traefik to v39.0.8
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release traefik to v39.0.8 (#380)
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.1
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.18.1 (#381)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

feat(terraform): add hetzner vps module contract
  terraform/modules/hetzner_vms/providers.tf
  terraform/modules/hetzner_vms/variables.tf
Due: terraform-fmt

feat(terraform): add hetzner vps module resources
  terraform/modules/hetzner_vms/main.tf
  terraform/modules/hetzner_vms/outputs.tf
Due: terraform-fmt

refactor(terraform): move hetzner vm module under provider namespace
  terraform/modules/hetzner/vm/main.tf
  terraform/modules/hetzner/vm/outputs.tf
  terraform/modules/hetzner/vm/providers.tf
  terraform/modules/hetzner/vm/variables.tf
Due: terraform-fmt

feat(terraform): add hetzner firewall module
  terraform/modules/hetzner/firewall/main.tf
  terraform/modules/hetzner/firewall/outputs.tf
  terraform/modules/hetzner/firewall/providers.tf
  terraform/modules/hetzner/firewall/variables.tf
Due: terraform-fmt

feat(terraform): add hetzner ssh keys module
  terraform/modules/hetzner/ssh_keys/main.tf
  terraform/modules/hetzner/ssh_keys/outputs.tf
  terraform/modules/hetzner/ssh_keys/providers.tf
  terraform/modules/hetzner/ssh_keys/variables.tf
Due: terraform-fmt

docs(terraform): document hetzner module family usage
  terraform/modules/hetzner/README.md
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
