Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

fix(authentik): restore gatekeeper cookie domain
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.22.2 (#509)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

fix(authentik): roll outpost on cookie domain changes
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(ansible): support docker installs on fedora
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/install-debian.yml
  ansible/roles/docker/tasks/install-redhat.yml
  ansible/roles/docker/tasks/main.yml
Due: ansible-lint

fix(ansible): limit docker dnf support to fedora
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/tasks/install-fedora.yml
  ansible/roles/docker/tasks/main.yml
Due: ansible-lint

feat(ansible): support docker installs on fedora (#511)
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/install-debian.yml
  ansible/roles/docker/tasks/install-fedora.yml
  ansible/roles/docker/tasks/main.yml
Due: ansible-lint

feat(ansible): enable docker on llm lxc
  ansible/inventories/group_vars/llm_lxc.yml
  ansible/playbooks/llm_lxc.yml
Due: ansible-lint

feat(ansible): enable docker on llm lxc (#512)
  ansible/inventories/group_vars/llm_lxc.yml
  ansible/playbooks/llm_lxc.yml
Due: ansible-lint

refactor(apps): use cluster identity vars for external proxies
  kubernetes/apps/apps/external-proxy/emqx.yaml
  kubernetes/apps/apps/external-proxy/framework-cockpit.yaml
  kubernetes/apps/apps/external-proxy/home-assistant.yaml
  kubernetes/apps/apps/external-proxy/kvm.yaml
  kubernetes/apps/apps/external-proxy/llama-swap.yaml
  kubernetes/apps/apps/external-proxy/omada.yaml
  kubernetes/apps/apps/external-proxy/opnsense.yaml
  kubernetes/apps/apps/external-proxy/pihole.yaml
  kubernetes/apps/apps/external-proxy/proxmox-backup.yaml
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/apps/apps/external-proxy/z2m.yaml
Due: none

refactor(apps): remove framework cockpit proxy
  kubernetes/apps/apps/external-proxy/framework-cockpit.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

refactor(apps): use cluster identity vars for external proxies (#513)
  kubernetes/apps/apps/external-proxy/emqx.yaml
  kubernetes/apps/apps/external-proxy/framework-cockpit.yaml
  kubernetes/apps/apps/external-proxy/home-assistant.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/kvm.yaml
  kubernetes/apps/apps/external-proxy/llama-swap.yaml
  kubernetes/apps/apps/external-proxy/omada.yaml
  kubernetes/apps/apps/external-proxy/opnsense.yaml
  kubernetes/apps/apps/external-proxy/pihole.yaml
  kubernetes/apps/apps/external-proxy/proxmox-backup.yaml
  kubernetes/apps/apps/external-proxy/proxmox.yaml
  kubernetes/apps/apps/external-proxy/z2m.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

feat(ansible): install mokutil on proxmox hosts
  ansible/inventories/group_vars/proxmox.yml
Due: ansible-lint

fix(ansible): update llama runtime rebuild handling
  ansible/roles/llm_runtime/README.md
  ansible/roles/llm_runtime/tasks/main.yml
  ansible/roles/llm_runtime/templates/build-marker.json.j2
Due: ansible-lint

feat(ai): add litellm persistent storage
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/litellm-pvc.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v85.1.3
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v85.1.3 (#514)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(ai): add litellm config file
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/apps/apps/ai/litellm/kustomization.yaml
Due: none

feat(ai): add litellm config file (#515)
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/apps/apps/ai/litellm/kustomization.yaml
Due: none

feat(ai): manage litellm model credentials
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/apps/apps/ai/litellm/kustomization.yaml
  kubernetes/apps/apps/ai/litellm/litellm-credentials.sops.yaml
Due: sops-auto-encrypt

feat(ai): manage litellm model credentials (#516)
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/apps/apps/ai/litellm/kustomization.yaml
  kubernetes/apps/apps/ai/litellm/litellm-credentials.sops.yaml
Due: sops-auto-encrypt

fix(ai): refine litellm model aliases
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

fix(ai): roll litellm after config update
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(ai): set litellm tts health voice
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

feat(infra): install reloader controller
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/clusters/production/ks/31-reloader-install.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/automation/reloader/install/helmrelease.yaml
  kubernetes/infrastructure/automation/reloader/install/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
  kubernetes/infrastructure/sources/stakater.yaml
Due: none

feat(infra): install reloader controller (#517)
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  kubernetes/clusters/production/ks/31-reloader-install.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/automation/reloader/install/helmrelease.yaml
  kubernetes/infrastructure/automation/reloader/install/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
  kubernetes/infrastructure/sources/stakater.yaml
Due: none

feat(cluster): track cluster identity
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/clusters/production/identity/kustomization.yaml
  kubernetes/clusters/production/ks/00-cluster-identity.yaml
  kubernetes/clusters/production/ks/00-infrastructure.yaml
  kubernetes/clusters/production/ks/05-automation-renovate.yaml
  kubernetes/clusters/production/ks/10-metallb-install.yaml
  kubernetes/clusters/production/ks/11-metallb-config.yaml
  kubernetes/clusters/production/ks/20-traefik-install.yaml
  kubernetes/clusters/production/ks/21-traefik-config.yaml
  kubernetes/clusters/production/ks/25-external-dns-install.yaml
  kubernetes/clusters/production/ks/26-cloudflared-install.yaml
  kubernetes/clusters/production/ks/30-kube-replicator-install.yaml
  kubernetes/clusters/production/ks/31-reloader-install.yaml
  kubernetes/clusters/production/ks/42-authentik-install.yaml
  kubernetes/clusters/production/ks/43-authentik-config.yaml
  kubernetes/clusters/production/ks/44-crowdsec-install.yaml
  kubernetes/clusters/production/ks/45-crowdsec-config.yaml
  kubernetes/clusters/production/ks/50-cert-manager-install.yaml
  kubernetes/clusters/production/ks/51-cert-manager-config.yaml
  kubernetes/clusters/production/ks/60-longhorn-install.yaml
  kubernetes/clusters/production/ks/61-longhorn-config.yaml
  kubernetes/clusters/production/ks/62-cnpg-install.yaml
  kubernetes/clusters/production/ks/70-observability-kube-prometheus-stack-install.yaml
  kubernetes/clusters/production/ks/71-observability-metrics-server-install.yaml
  kubernetes/clusters/production/ks/72-observability-loki-install.yaml
  kubernetes/clusters/production/ks/73-observability-alloy-syslog-install.yaml
  kubernetes/clusters/production/ks/74-observability-alloy-install.yaml
  kubernetes/clusters/production/ks/90-storage.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
Due: sops-auto-encrypt

feat(cluster): track cluster identity (#518)
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/clusters/production/identity/kustomization.yaml
  kubernetes/clusters/production/ks/00-cluster-identity.yaml
  kubernetes/clusters/production/ks/00-infrastructure.yaml
  kubernetes/clusters/production/ks/05-automation-renovate.yaml
  kubernetes/clusters/production/ks/10-metallb-install.yaml
  kubernetes/clusters/production/ks/11-metallb-config.yaml
  kubernetes/clusters/production/ks/20-traefik-install.yaml
  kubernetes/clusters/production/ks/21-traefik-config.yaml
  kubernetes/clusters/production/ks/25-external-dns-install.yaml
  kubernetes/clusters/production/ks/26-cloudflared-install.yaml
  kubernetes/clusters/production/ks/30-kube-replicator-install.yaml
  kubernetes/clusters/production/ks/31-reloader-install.yaml
  kubernetes/clusters/production/ks/42-authentik-install.yaml
  kubernetes/clusters/production/ks/43-authentik-config.yaml
  kubernetes/clusters/production/ks/44-crowdsec-install.yaml
  kubernetes/clusters/production/ks/45-crowdsec-config.yaml
  kubernetes/clusters/production/ks/50-cert-manager-install.yaml
  kubernetes/clusters/production/ks/51-cert-manager-config.yaml
  kubernetes/clusters/production/ks/60-longhorn-install.yaml
  kubernetes/clusters/production/ks/61-longhorn-config.yaml
  kubernetes/clusters/production/ks/62-cnpg-install.yaml
  kubernetes/clusters/production/ks/70-observability-kube-prometheus-stack-install.yaml
  kubernetes/clusters/production/ks/71-observability-metrics-server-install.yaml
  kubernetes/clusters/production/ks/72-observability-loki-install.yaml
  kubernetes/clusters/production/ks/73-observability-alloy-syslog-install.yaml
  kubernetes/clusters/production/ks/74-observability-alloy-install.yaml
  kubernetes/clusters/production/ks/90-storage.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
Due: sops-auto-encrypt

feat(ai): replace kokoro with chatterbox proxy
  kubernetes/apps/apps/ai/kokoro/helmrelease.yaml
  kubernetes/apps/apps/ai/kokoro/kustomization.yaml
  kubernetes/apps/apps/external-proxy/chatterbox.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

feat(ai): replace kokoro with chatterbox proxy (#519)
  kubernetes/apps/apps/ai/kokoro/helmrelease.yaml
  kubernetes/apps/apps/ai/kokoro/kustomization.yaml
  kubernetes/apps/apps/external-proxy/chatterbox.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

fix(ai): scale sillytavern to one replica
  kubernetes/apps/apps/ai/sillytavern/helmrelease.yaml
Due: none

fix(proxmox): tune vm disk defaults
  terraform/modules/proxmox_vms/main.tf
Due: terraform-fmt

chore(k3s): add dockerhub auth helper
  scripts/k3s-dockerhub-auth.sh
Due: none

chore(k3s): read dockerhub auth nodes from inventory
  scripts/k3s-dockerhub-auth.sh
Due: none

feat(ai): add litellm cache bypass hook
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(ai): enable litellm model discovery
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

fix(ai): patch litellm vllm model discovery
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(ai): load litellm vllm discovery patch at startup
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(ai): register hosted vllm model provider
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

chore(terraform): improve formatting workflow
  .pre-commit-config.yaml
  terraform/modules/hetzner/vm/main.tf
Due: terraform-fmt

feat(terraform): harden module input validation
  terraform/modules/hetzner/firewall/variables.tf
  terraform/modules/hetzner/ssh_keys/variables.tf
  terraform/modules/hetzner/vm/variables.tf
  terraform/modules/proxmox_lxc/variables.tf
  terraform/modules/proxmox_vms/variables.tf
Due: terraform-fmt

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
