Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

chore(deps): Update linuxserver/radarr Docker tag to v6.4.4 (#1239)
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
Due: none

chore(deps): Update Helm release tempo to v3 (#1238)
  kubernetes/infrastructure/observability/tempo/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release opentelemetry-collector to v0.173.1
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

chore(deps): Update advplyr/audiobookshelf Docker tag to v2.36.1
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
Due: none

fix(proxmox): preserve notification routing
  ansible/inventories/group_vars/proxmox.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/notifications.yml
Due: ansible-lint

chore(deps): Update advplyr/audiobookshelf Docker tag to v2.36.1 (#1242)
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
Due: none

fix(proxmox): activate swap idempotently
  ansible/roles/proxmox/tasks/swap.yml
Due: ansible-lint

feat(proxmox): standardize Unraid NFS mounts
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/host_vars/pve2.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/unraid_nfs.yml
Due: ansible-lint

fix(proxmox): combine notification severities
  ansible/roles/proxmox/tasks/notifications.yml
Due: ansible-lint

fix(proxmox): normalize notification endpoint state
  ansible/roles/proxmox/tasks/notifications.yml
Due: ansible-lint

chore(deps): Update Helm release opentelemetry-collector to v0.173.1 (#1241)
  kubernetes/infrastructure/observability/opentelemetry-collector/install/helmrelease.yaml
Due: none

feat(proxmox): add SMTP notifications (#1240)
  .pre-commit-config.yaml
  ansible/inventories/group_vars/proxmox.yml
  ansible/inventories/host_vars/pve2.yml
  ansible/roles/proxmox/README.md
  ansible/roles/proxmox/defaults/main.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/notifications.yml
  ansible/roles/proxmox/tasks/swap.yml
  ansible/roles/proxmox/tasks/unraid_nfs.yml
  ansible/secrets/README.md
  ansible/secrets/proxmox.sops.yml
Due: ansible-lint, sops-auto-encrypt

chore(deps): Update collabora/code Docker tag to v26.04.4.1.1
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update collabora/code Docker tag to v26.04.4.1.1 (#1243)
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update gotson/komga Docker tag to v1.27.0
  kubernetes/apps/apps/media/komga/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.13.0
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update gotson/komga Docker tag to v1.27.0 (#1244)
  kubernetes/apps/apps/media/komga/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.13.0 (#1245)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.40.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update gethomepage/homepage Docker tag to v2.4.0
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(deps): Update gethomepage/homepage Docker tag to v2.4.0 (#1247)
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.40.2 (#1246)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update arabcoders/watchstate Docker tag to v1.10.6
  kubernetes/apps/apps/media/watchstate/helmrelease.yaml
Due: none

chore(deps): Update arabcoders/watchstate Docker tag to v1.10.6 (#1248)
  kubernetes/apps/apps/media/watchstate/helmrelease.yaml
Due: none

fix(hindsight): use GLM 5.3 for reflection
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

fix(hindsight): use GLM 5.3 for reflection (#1249)
  kubernetes/apps/apps/ai/hindsight/helmrelease.yaml
Due: none

feat(omniroute): deploy dedicated AI gateway
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/inventories/omniroute.yml
  ansible/playbooks/omniroute.yml
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/handlers/main.yml
  ansible/roles/containers/omniroute/tasks/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/roles/containers/omniroute/templates/docker-compose.yml.j2
  ansible/roles/containers/omniroute/templates/omniroute-compose.service.j2
  ansible/roles/containers/omniroute/templates/omniroute.env.j2
  ansible/secrets/README.md
  ansible/secrets/omniroute.sops.yml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/omniroute.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/omniroute-sso-secret.sops.yaml
  terraform/instances/vm/omniroute/ansible_inventory.tf
  terraform/instances/vm/omniroute/main.tf
  terraform/instances/vm/omniroute/providers.tf
  terraform/instances/vm/omniroute/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

feat(omniroute): deploy dedicated AI gateway (#1250)
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/inventories/omniroute.yml
  ansible/playbooks/omniroute.yml
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/handlers/main.yml
  ansible/roles/containers/omniroute/tasks/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/roles/containers/omniroute/templates/docker-compose.yml.j2
  ansible/roles/containers/omniroute/templates/omniroute-compose.service.j2
  ansible/roles/containers/omniroute/templates/omniroute.env.j2
  ansible/secrets/README.md
  ansible/secrets/omniroute.sops.yml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/omniroute.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/omniroute-sso-secret.sops.yaml
  terraform/instances/vm/omniroute/ansible_inventory.tf
  terraform/instances/vm/omniroute/main.tf
  terraform/instances/vm/omniroute/providers.tf
  terraform/instances/vm/omniroute/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

fix(omniroute): harden OIDC bootstrap authentication
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/secrets/README.md
Due: ansible-lint

fix(omniroute): harden OIDC bootstrap authentication (#1251)
  ansible/inventories/group_vars/omniroute_vms.yml
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
  ansible/secrets/README.md
Due: ansible-lint

fix(n8n): downgrade to 2.39.5 and pause updates
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  renovate.json
Due: none

chore(n8n): remove sandbox infrastructure
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/n8n_sandbox_vms.yml
  ansible/inventories/n8n-sandbox.yml
  ansible/playbooks/n8n_sandbox.yml
  ansible/roles/containers/n8n_sandbox/defaults/main.yml
  ansible/roles/containers/n8n_sandbox/handlers/main.yml
  ansible/roles/containers/n8n_sandbox/tasks/main.yml
  ansible/roles/containers/n8n_sandbox/templates/docker-compose.yml.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.service.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.sh.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox.service.j2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/automation/n8n/n8n-sandbox-secrets.sops.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  terraform/instances/vm/n8n_sandbox/ansible_inventory.tf
  terraform/instances/vm/n8n_sandbox/main.tf
  terraform/instances/vm/n8n_sandbox/providers.tf
  terraform/instances/vm/n8n_sandbox/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

chore(n8n): remove sandbox infrastructure (#1252)
  ansible/inventories/all-vms.yml
  ansible/inventories/group_vars/n8n_sandbox_vms.yml
  ansible/inventories/n8n-sandbox.yml
  ansible/playbooks/n8n_sandbox.yml
  ansible/roles/containers/n8n_sandbox/defaults/main.yml
  ansible/roles/containers/n8n_sandbox/handlers/main.yml
  ansible/roles/containers/n8n_sandbox/tasks/main.yml
  ansible/roles/containers/n8n_sandbox/templates/docker-compose.yml.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.service.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox-firewall.sh.j2
  ansible/roles/containers/n8n_sandbox/templates/n8n-sandbox.service.j2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/automation/n8n/n8n-sandbox-secrets.sops.yaml
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
  terraform/instances/vm/n8n_sandbox/ansible_inventory.tf
  terraform/instances/vm/n8n_sandbox/main.tf
  terraform/instances/vm/n8n_sandbox/providers.tf
  terraform/instances/vm/n8n_sandbox/vm_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

feat(ansible): manage OmniRoute model aliases
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap-config.json.j2
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
Due: ansible-lint

chore(deps): Update library/alpine Docker tag to v3.24.2
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.5.2
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v90.2.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update library/alpine Docker tag to v3.24.2 (#1255)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update maathimself/mailflow-backend Docker tag to v3.5.2 (#1256)
  kubernetes/apps/apps/utils/mailflow/helmrelease.yaml
Due: none

fix(ansible): use OmniRoute custom aliases
  ansible/roles/containers/omniroute/defaults/main.yml
  ansible/roles/containers/omniroute/templates/bootstrap_omniroute.py.j2
Due: ansible-lint

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
