Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

feat(ansible): add Node.js runtime role (#555)
  ansible/playbooks/headless_laptops.yml
  ansible/roles/nodejs_runtime/defaults/main.yml
  ansible/roles/nodejs_runtime/handlers/main.yml
  ansible/roles/nodejs_runtime/tasks/main.yml
Due: ansible-lint

feat(kubernetes): add Z.AI LiteLLM provider
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/litellm-credentials.sops.yaml
Due: sops-auto-encrypt

feat(kubernetes): add Z.AI LiteLLM provider (#556)
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/litellm-credentials.sops.yaml
Due: sops-auto-encrypt

Revert "feat(kubernetes): add Z.AI LiteLLM provider (#556)"
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/litellm-credentials.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): update openclaw IP
  kubernetes/clusters/production/identity/cluster-identity.sops.yaml
Due: sops-auto-encrypt

chore(deps): Update gotenberg/gotenberg Docker tag to v8.33
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

chore(deps): Update gotenberg/gotenberg Docker tag to v8.33 (#557)
  kubernetes/apps/apps/paperless/helmrelease.yaml
Due: none

feat(ansible): enable homebrew on headless laptops
  ansible/inventories/host_vars/g14-2022.yml
  ansible/playbooks/headless_laptops.yml
Due: ansible-lint

fix(kubernetes): reenable litellm chatgpt models
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(kubernetes): patch litellm chatgpt streaming
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  renovate.json
Due: none

fix(kubernetes): patch litellm chatgpt streaming (#558)
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
  renovate.json
Due: none

fix(kubernetes): patch litellm codex reasoning metadata
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

fix(kubernetes): load litellm patches on startup
  kubernetes/apps/apps/ai/litellm/configmap.yaml
  kubernetes/apps/apps/ai/litellm/helmrelease.yaml
Due: none

fix(kubernetes): allow litellm codex xhigh
  kubernetes/apps/apps/ai/litellm/configmap.yaml
Due: none

feat(kubernetes): add librechat deployment
  kubernetes/apps/apps/ai/librechat/configmap.yaml
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/ai/librechat/kustomization.yaml
  kubernetes/apps/apps/ai/librechat/librechat-secrets.sops.yaml
  kubernetes/apps/apps/ai/librechat/librechat-vectordb-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-data-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-meilisearch-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-mongodb-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-vectordb-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/librechat-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): reduce librechat pvc sizes
  kubernetes/apps/storage/pvcs/ai/librechat-data-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-mongodb-pvc.yaml
Due: none

feat(kubernetes): add librechat deployment (#559)
  kubernetes/apps/apps/ai/librechat/configmap.yaml
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/ai/librechat/kustomization.yaml
  kubernetes/apps/apps/ai/librechat/librechat-secrets.sops.yaml
  kubernetes/apps/apps/ai/librechat/librechat-vectordb-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/kustomization.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-data-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-meilisearch-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-mongodb-pvc.yaml
  kubernetes/apps/storage/pvcs/ai/librechat-vectordb-pvc.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/librechat-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(kubernetes): set librechat pgdata subdirectory
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

chore(deps): Update pgvector/pgvector Docker tag to v0.8.2
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.45.1
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

chore(deps): Update pgvector/pgvector Docker tag to v0.8.2 (#560)
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

chore(deps): Update fscorrupt/posterizarr Docker tag to v2.2.47
  kubernetes/apps/apps/media/plex-media-enrichment/posterizarr-job.yaml
Due: none

chore(deps): Update fscorrupt/posterizarr Docker tag to v2.2.47 (#562)
  kubernetes/apps/apps/media/plex-media-enrichment/posterizarr-job.yaml
Due: none

chore(deps): Update getmeili/meilisearch Docker tag to v1.45.1 (#561)
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

chore(deps): Update Helm release reloader to v2.2.12
  kubernetes/infrastructure/automation/reloader/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release reloader to v2.2.12 (#563)
  kubernetes/infrastructure/automation/reloader/install/helmrelease.yaml
Due: none

fix(kubernetes): add missing models.default to librechat config
  kubernetes/apps/apps/ai/librechat/configmap.yaml
Due: none

fix(kubernetes): add missing models.default to librechat config (#564)
  kubernetes/apps/apps/ai/librechat/configmap.yaml
Due: none

fix(kubernetes): provide actual models in librechat default list
  kubernetes/apps/apps/ai/librechat/configmap.yaml
Due: none

fix(kubernetes): provide actual models in librechat default list (#565)
  kubernetes/apps/apps/ai/librechat/configmap.yaml
Due: none

chore(deps): Update maziggy/bambuddy Docker tag to v0.2.4.4
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

chore(deps): Update maziggy/bambuddy Docker tag to v0.2.4.4 (#566)
  kubernetes/apps/apps/utils/bambuddy/helmrelease.yaml
Due: none

fix(kubernetes): restore LibreChat OIDC grant types
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

fix(kubernetes): restore LibreChat OIDC grant types (#567)
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

fix(kubernetes): use OIDC name for LibreChat users
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

fix(kubernetes): use OIDC name for LibreChat users (#568)
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
Due: none

chore(deps): Update collabora/code Docker tag to v25.04.10.3.1
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

chore(deps): Update collabora/code Docker tag to v25.04.10.3.1 (#569)
  kubernetes/apps/apps/nextcloud/helmrelease.yaml
Due: none

fix(kubernetes): configure LibreChat admin and auth
  kubernetes/apps/apps/ai/librechat/configmap.yaml
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/ai/librechat/librechat-secrets.sops.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: sops-auto-encrypt

fix(kubernetes): configure LibreChat admin and auth (#570)
  kubernetes/apps/apps/ai/librechat/configmap.yaml
  kubernetes/apps/apps/ai/librechat/helmrelease.yaml
  kubernetes/apps/apps/ai/librechat/librechat-secrets.sops.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
Due: sops-auto-encrypt

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
