Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps): Update observability (major) (#391)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
  kubernetes/infrastructure/sources/grafana-community.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
Due: none

fix(authentik): add cnpg backup and wal settings
  kubernetes/infrastructure/security/authentik/install/authentik-db.yaml
Due: none

fix(authentik): add cnpg backup and wal settings (#392)
  kubernetes/infrastructure/security/authentik/install/authentik-db.yaml
Due: none

chore(github): remove opencode workflow
  .github/workflows/opencode.yml
Due: none

fix(paperless): remove backup readiness gate
  kubernetes/apps/apps/paperless/backup-job.yaml
Due: none

fix(paperless): remove backup readiness gate (#393)
  kubernetes/apps/apps/paperless/backup-job.yaml
Due: none

chore(ansible): defer public VPS hardening to terraform
  ansible/playbooks/public_vps.yml
Due: ansible-lint

feat(terraform): expose Hetzner inventory connection fields
  terraform/modules/hetzner/vm/outputs.tf
Due: terraform-fmt

feat(terraform): generate netbird public VPS inventory overlay
  terraform/cloud/hetzner/servers/netbird/ansible_inventory.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/templates/inventory.yaml.tpl
Due: terraform-fmt

fix(terraform): sanitize netbird VM output metadata
  terraform/cloud/hetzner/servers/netbird/outputs.tf
Due: terraform-fmt

fix(terraform): normalize netbird inventory connection metadata
  terraform/cloud/hetzner/servers/netbird/ansible_inventory.tf
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
Due: terraform-fmt

feat(terraform): generate Hetzner public VPS inventory overlay (#394)
  ansible/playbooks/public_vps.yml
  terraform/cloud/hetzner/servers/netbird/ansible_inventory.tf
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/outputs.tf
  terraform/cloud/hetzner/servers/netbird/providers.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/cloud/hetzner/servers/netbird/templates/inventory.yaml.tpl
  terraform/modules/hetzner/vm/outputs.tf
Due: ansible-lint, terraform-fmt

feat(terraform): add shared Hetzner ingress firewall rules
  terraform/cloud/hetzner/firewall/firewall_definition.tf
  terraform/modules/hetzner/firewall/outputs.tf
Due: terraform-fmt

feat(terraform): support Netbird UFW rules in Hetzner VMs
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/modules/hetzner/vm/cloud_init.tf
  terraform/modules/hetzner/vm/variables.tf
Due: terraform-fmt

docs(terraform): clarify Hetzner cloud-init merge behavior
  terraform/modules/hetzner/README.md
Due: none

fix(terraform): align Netbird UFW rules with attached firewalls
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
Due: terraform-fmt

refactor(terraform): simplify Netbird local naming
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
Due: terraform-fmt

feat(terraform): support Netbird UFW rules in Hetzner VMs (#395)
  terraform/cloud/hetzner/firewall/firewall_definition.tf
  terraform/cloud/hetzner/servers/netbird/main.tf
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
  terraform/modules/hetzner/README.md
  terraform/modules/hetzner/firewall/outputs.tf
  terraform/modules/hetzner/vm/cloud_init.tf
  terraform/modules/hetzner/vm/variables.tf
Due: terraform-fmt

feat(ansible): enable Docker for the Netbird public VPS
  ansible/inventories/host_vars/netbird.yml
  ansible/playbooks/public_vps.yml
Due: ansible-lint

chore(terraform): add jq to Netbird cloud-init packages
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
Due: terraform-fmt

Enable Docker and jq for the Netbird VPS (#396)
  ansible/inventories/host_vars/netbird.yml
  ansible/playbooks/public_vps.yml
  terraform/cloud/hetzner/servers/netbird/server_definition.tf
Due: ansible-lint, terraform-fmt

chore(deps): Update dependency open-webui/open-webui to v0.9.1
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
Due: none

chore(deps): Update dependency open-webui/open-webui to v0.9.1 (#397)
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v13
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

fix(loki): migrate HelmRelease values for chart 13
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

feat(authentik): add Alex as Nextcloud user
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

fix(authentik): rename openclaw user env keys and add avatar
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

chore(authentik): rename a comment
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

Add Authentik Nextcloud user for OpenClaw (#399)
  kubernetes/infrastructure/security/authentik/install/authentik-env.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: sops-auto-encrypt

docs(agents): slim root agent rules
  AGENTS.md
Due: none

docs(contributing): refresh workflow and review guidance
  .github/CODEOWNERS
  CONTRIBUTING.md
Due: none

docs(terraform): refocus subtree agent guidance
  terraform/AGENTS.md
Due: none

docs(ansible): refocus subtree agent guidance
  ansible/AGENTS.md
Due: none

docs(kubernetes): narrow shared subtree guidance
  kubernetes/AGENTS.md
  kubernetes/components/AGENTS.md
  kubernetes/infrastructure/AGENTS.md
Due: none

docs(packer): refocus subtree agent guidance
  packer/AGENTS.md
Due: none

docs(kubernetes-cluster): clarify production ordering guidance
  kubernetes/clusters/production/AGENTS.md
Due: none

docs(kubernetes-apps): refocus workload and storage guidance
  kubernetes/apps/AGENTS.md
  kubernetes/apps/apps/AGENTS.md
  kubernetes/apps/storage/AGENTS.md
Due: none

docs(contributing): align pull request title guidance
  CONTRIBUTING.md
Due: none

docs: refresh agent and contributor guidance (#401)
  .github/CODEOWNERS
  AGENTS.md
  CONTRIBUTING.md
  ansible/AGENTS.md
  kubernetes/AGENTS.md
  kubernetes/apps/AGENTS.md
  kubernetes/apps/apps/AGENTS.md
  kubernetes/apps/storage/AGENTS.md
  kubernetes/clusters/production/AGENTS.md
  kubernetes/components/AGENTS.md
  kubernetes/infrastructure/AGENTS.md
  packer/AGENTS.md
  terraform/AGENTS.md
Due: none

feat(scripts): add Ubuntu host tool bootstrap support
  scripts/bootstrap-host-tools.sh
Due: none
