Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

.pre-commit-config.yaml:

---
repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v6.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-yaml
        args: ["--allow-multiple-documents"]
        exclude: ^kubernetes/clusters/homelab/flux-system/

  - repo: https://github.com/adrienverge/yamllint
    rev: v1.38.0
    hooks:
      - id: yamllint
        files: \.ya?ml$
        exclude: (^kubernetes/clusters/homelab/flux-system/|\.sops\.ya?ml$)

  - repo: local
    hooks:
      - id: ansible-lint
        name: ansible-lint
        entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
        language: system
        files: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
        args: ["--project-dir", "ansible"]
        pass_filenames: true
        always_run: false

      - id: packer-fmt
        name: Packer fmt
        entry: packer fmt -recursive packer/
        language: system
        files: ^packer/.*\.pkr\.hcl$
        pass_filenames: false

      - id: terraform-fmt
        name: Terraform fmt
        entry: terraform -chdir=terraform fmt
        language: system
        files: ^terraform/.*\.tf$
        pass_filenames: false

      # Block committing private key material (age + common key files)
      - id: forbid-sensitive-files
        name: Forbid committing key material (age/private keys)
        entry: scripts/forbid-sensitive-files.sh
        language: system
        pass_filenames: false

      # Block committing plaintext Kubernetes Secret manifests
      - id: prevent-plaintext-k8s-secrets
        name: Block plaintext Kubernetes Secret manifests
        entry: scripts/prevent-plaintext-k8s-secrets.sh
        language: system
        pass_filenames: false

      # Auto-encrypt *.sops.yaml files if they are not already encrypted
      - id: sops-auto-encrypt
        name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
        entry: scripts/sops-auto-encrypt.sh
        language: system
        files: \.sops\.ya?ml$
        pass_filenames: true

chore(deps) Update n8nio/n8n Docker tag to v2.6.2 (#177)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore: update framework settings in ansible
  ansible/inventories/group_vars/fedora.yml
  ansible/inventories/host_vars/framework.yml
Due: ansible-lint

comment out cluster stuff from rpi4
  ansible/inventories/host_vars/main-rpi4.yml
Due: ansible-lint

remove pve3 file
  ansible/inventories/host_vars/pve3.yml
Due: ansible-lint

remove rpi4 and add framework from cluster
  ansible/inventories/k3s-cluster.yml
Due: ansible-lint

bump vdisk sizes
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

create ansible role for swapfile for proxmox
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/proxmox/handlers/main.yml
  ansible/roles/proxmox/tasks/bootloader_kernel_params.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/swap.yml
Due: ansible-lint

chore: misc updates to ansible and terraform (#178)
  ansible/inventories/group_vars/fedora.yml
  ansible/inventories/host_vars/framework.yml
  ansible/inventories/host_vars/main-rpi4.yml
  ansible/inventories/host_vars/pve3.yml
  ansible/inventories/k3s-cluster.yml
  ansible/roles/k3s/tasks/main.yml
  ansible/roles/proxmox/handlers/main.yml
  ansible/roles/proxmox/tasks/bootloader_kernel_params.yml
  ansible/roles/proxmox/tasks/main.yml
  ansible/roles/proxmox/tasks/swap.yml
  terraform/k3s_nodes/variables.tf
Due: ansible-lint, terraform-fmt

fix: k3s ansible fixes
  ansible/inventories/host_vars/framework.yml
  ansible/inventories/host_vars/k3s-node-01.yml
Due: ansible-lint

chore: disable service monitor temporarily
  kubernetes/infrastructure/networking/external-dns/install/helmrelease.yaml
  kubernetes/infrastructure/networking/metallb/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/cert-manager/config/kustomization.yaml
  kubernetes/infrastructure/storage/longhorn/install/helmrelease.yaml
Due: none

Revert "chore: disable service monitor temporarily"
  kubernetes/infrastructure/networking/external-dns/install/helmrelease.yaml
  kubernetes/infrastructure/networking/metallb/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/cert-manager/config/kustomization.yaml
  kubernetes/infrastructure/storage/longhorn/install/helmrelease.yaml
Due: none

chore(authentik): fix blueprint for komga
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

chore(traefik): multiple replicas
  kubernetes/infrastructure/networking/traefik/install/helmrelease.yaml
Due: none

chore(vaultwarden): restore db backup
  kubernetes/apps/apps/security/vaultwarden/cnpg-cluster.yaml
Due: none

Revert "chore(vaultwarden): restore db backup"
  kubernetes/apps/apps/security/vaultwarden/cnpg-cluster.yaml
Due: none

chore(cnpg): centralize backup secret
  kubernetes/apps/apps/security/vaultwarden/kustomization.yaml
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
  kubernetes/infrastructure/database/cloudnative-pg/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/cnpg-backup-s3.sops.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

chore(ansible): tweak cluster nodes settings
  ansible/inventories/host_vars/framework.yml
  ansible/inventories/host_vars/k3s-node-02.yml
Due: ansible-lint

fix: set cnpg to decrypt sops
  kubernetes/clusters/production/ks/62-cnpg-install.yaml
Due: none

chore(cnpg): refactor some backup configs
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/components/storage/backup-policy/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-db-backup.yaml
  kubernetes/infrastructure/security/authentik/install/authentik-db.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: none

feat(ansible): role to install docker
  ansible/inventories/host_vars/main-rpi4.yml
  ansible/playbooks/rpi.yml
  ansible/roles/docker/defaults/main.yml
  ansible/roles/docker/handlers/main.yml
  ansible/roles/docker/tasks/main.yml
Due: ansible-lint

chore: move garage s3 ip to rpi4
  kubernetes/apps/apps/external-proxy/garage-s3.yaml
  kubernetes/apps/apps/storage/garage-webui/helmrelease.yaml
Due: none

chore: fix order when bootstraping from scratch
  kubernetes/clusters/production/ks/11-metallb-config.yaml
  kubernetes/clusters/production/ks/42-authentik-install.yaml
  kubernetes/clusters/production/ks/51-cert-manager-config.yaml
  kubernetes/clusters/production/ks/70-observability-kube-prometheus-stack-install.yaml
Due: none

feat: create a job to do full db dumps
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/security/vaultwarden/kustomization.yaml
  kubernetes/components/db-backup/cronjob.yaml
  kubernetes/components/db-backup/kustomization.yaml
Due: none

address some comments
  kubernetes/components/db-backup/cronjob.yaml
Due: none

address some more comments
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/security/vaultwarden/kustomization.yaml
  kubernetes/components/db-backup/cronjob.yaml
Due: none

feat: create a job to do full db dumps (#179)
  kubernetes/AGENTS.md
  kubernetes/apps/apps/automation/n8n/db-backup.yaml
  kubernetes/apps/apps/automation/n8n/kustomization.yaml
  kubernetes/apps/apps/security/vaultwarden/db-backup.yaml
  kubernetes/apps/apps/security/vaultwarden/kustomization.yaml
Due: none

chore(deps) Update gotson/komga Docker tag to v1.24.1
  kubernetes/apps/apps/media/komga/helmrelease.yaml
Due: none

chore(deps) Update gotson/komga Docker tag to v1.24.1 (#181)
  kubernetes/apps/apps/media/komga/helmrelease.yaml
Due: none

chore(deps) Update Helm release crowdsec to 0.22.*
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
Due: none

chore(deps) Update Helm release crowdsec to 0.22.* (#180)
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
Due: none

fix: update db job for backups
  kubernetes/apps/apps/automation/n8n/db-backup.yaml
  kubernetes/apps/apps/security/vaultwarden/db-backup.yaml
Due: none

fix: permissions in db backup jobs
  kubernetes/apps/apps/automation/n8n/db-backup.yaml
  kubernetes/apps/apps/security/vaultwarden/db-backup.yaml
Due: none

chore: fixing homepage layout
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore: add proxy entry for framework desktop cockpit
  kubernetes/apps/apps/external-proxy/framework-cockpit.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore: add more hosts to external proxy and homepage
  kubernetes/apps/apps/external-proxy/duplicati.yaml
  kubernetes/apps/apps/external-proxy/emqx.yaml
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/omada.yaml
  kubernetes/apps/apps/external-proxy/syncthing.yaml
  kubernetes/apps/apps/external-proxy/z2m.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

feat(traefik): add prometheus ingress
  kubernetes/apps/apps/security/vaultwarden/helmrelease.yaml
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/config/ingress.yaml
Due: none

feat: install huntarr
  kubernetes/apps/apps/media/huntarr/helmrelease.yaml
  kubernetes/apps/apps/media/huntarr/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

feat: install huntarr (#182)
  kubernetes/apps/apps/media/huntarr/helmrelease.yaml
  kubernetes/apps/apps/media/huntarr/kustomization.yaml
  kubernetes/apps/production/kustomization.yaml
Due: none

chore(homepage): set it to 3 replicas
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

Revert "chore(homepage): set it to 3 replicas"
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none
