Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

fix(immich): permission issues
  kubernetes/apps/apps/immich/helmrelease.yaml
  kubernetes/apps/apps/immich/immich-db-secrets.sops.yaml
Due: sops-auto-encrypt

feat(immich): add auto-stack job to run every hour
  kubernetes/apps/apps/immich/auto-stack-cronjob.yaml
  kubernetes/apps/apps/immich/immich-secrets.sops.yaml
  kubernetes/apps/apps/immich/kustomization.yaml
Due: sops-auto-encrypt

chore(terraform): bump k3s node vms ram
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

chore(homepage): disable widget annotations
  kubernetes/apps/apps/development/gitea/helmrelease.yaml
  kubernetes/apps/apps/media/audiobookshelf/helmrelease.yaml
  kubernetes/apps/apps/media/bazarr/helmrelease.yaml
  kubernetes/apps/apps/media/komga/helmrelease.yaml
  kubernetes/apps/apps/media/lidarr/helmrelease.yaml
  kubernetes/apps/apps/media/overseerr/helmrelease.yaml
  kubernetes/apps/apps/media/prowlarr/helmrelease.yaml
  kubernetes/apps/apps/media/radarr/helmrelease.yaml
  kubernetes/apps/apps/media/sabnzbd/helmrelease.yaml
  kubernetes/apps/apps/media/sonarr/helmrelease.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(deps) Update n8nio/n8n Docker tag to v2.9.1
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps) Update n8nio/n8n Docker tag to v2.9.1 (#237)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps) Update plexguide/huntarr Docker tag to v9.3.7
  kubernetes/apps/apps/media/huntarr/helmrelease.yaml
Due: none

chore(deps) Update plexguide/huntarr Docker tag to v9.3.7 (#238)
  kubernetes/apps/apps/media/huntarr/helmrelease.yaml
Due: none

feat(authentik): immich sso settings
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/immich-sso-secret.sops.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
Due: sops-auto-encrypt

chore(authentik): re-order blueprint file names
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

feat(immich): re-enable auto-stacking job
  kubernetes/apps/apps/immich/auto-stack-cronjob.yaml
Due: none

refactor(plextraktsync): removed dedicated sync job
  kubernetes/apps/apps/media/plextraktsync/common/kustomization.yaml
  kubernetes/apps/apps/media/plextraktsync/configmap.yaml
  kubernetes/apps/apps/media/plextraktsync/env.sops.yaml
  kubernetes/apps/apps/media/plextraktsync/helmrelease.yaml
  kubernetes/apps/apps/media/plextraktsync/kustomization.yaml
  kubernetes/apps/apps/media/plextraktsync/servers.sops.yaml
  kubernetes/apps/apps/media/plextraktsync/sync/cronjob.yaml
  kubernetes/apps/apps/media/plextraktsync/sync/kustomization.yaml
  kubernetes/apps/apps/media/plextraktsync/trakt.sops.yaml
  kubernetes/apps/apps/media/plextraktsync/watch/kustomization.yaml
Due: sops-auto-encrypt

feat(plextraktsync): cronjob to exec sync command
  kubernetes/apps/apps/media/plextraktsync/kustomization.yaml
  kubernetes/apps/apps/media/plextraktsync/sync-job.yaml
Due: none

chore(immich): renovate changes to support auto-update
  kubernetes/apps/apps/immich/helmrelease.yaml
  renovate.json
Due: none

feat: install paperless
  kubernetes/apps/apps/paperless/cnpg-cluster.yaml
  kubernetes/apps/apps/paperless/db-backup.yaml
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/apps/apps/paperless/kustomization.yaml
  kubernetes/apps/apps/paperless/paperless-db-secrets.sops.yaml
  kubernetes/apps/apps/paperless/paperless-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
Due: sops-auto-encrypt

feat: install paperless (#239)
  kubernetes/apps/apps/paperless/cnpg-cluster.yaml
  kubernetes/apps/apps/paperless/db-backup.yaml
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/apps/apps/paperless/kustomization.yaml
  kubernetes/apps/apps/paperless/paperless-db-secrets.sops.yaml
  kubernetes/apps/apps/paperless/paperless-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/database/cloudnative-pg/install/cnpg-backup-s3.sops.yaml
Due: sops-auto-encrypt

feat(authentik): paperless sso settings
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/apps/apps/paperless/kustomization.yaml
  kubernetes/apps/apps/paperless/paperless-oidc-secrets.sops.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/paperless-sso-secret.sops.yaml
Due: sops-auto-encrypt

chore(immich): add some backup labels
  kubernetes/apps/apps/immich/kustomization.yaml
Due: none

feat(crowdsec): ingress, network policies and opnsense
  kubernetes/infrastructure/security/crowdsec/config/ingress-lapi.yaml
  kubernetes/infrastructure/security/crowdsec/config/kustomization.yaml
  kubernetes/infrastructure/security/crowdsec/config/middleware-opnsense-allowlist.yaml
  kubernetes/infrastructure/security/crowdsec/config/networkpolicy-lapi.yaml
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
  kubernetes/infrastructure/security/crowdsec/install/kustomization.yaml
  kubernetes/infrastructure/security/crowdsec/install/opnsense-bouncer-secret.sops.yaml
Due: sops-auto-encrypt

feat(crowdsec): ingress, network policies and opnsense (#240)
  kubernetes/infrastructure/security/crowdsec/config/ingress-lapi.yaml
  kubernetes/infrastructure/security/crowdsec/config/kustomization.yaml
  kubernetes/infrastructure/security/crowdsec/config/middleware-opnsense-allowlist.yaml
  kubernetes/infrastructure/security/crowdsec/config/networkpolicy-lapi.yaml
  kubernetes/infrastructure/security/crowdsec/install/helmrelease.yaml
  kubernetes/infrastructure/security/crowdsec/install/kustomization.yaml
  kubernetes/infrastructure/security/crowdsec/install/opnsense-bouncer-secret.sops.yaml
Due: sops-auto-encrypt

feat: move renovate to be controlled by flux
  kubernetes/CLAUDE.md
  kubernetes/clusters/production/ks/05-automation-renovate.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/automation/renovate/configmap.yaml
  kubernetes/infrastructure/automation/renovate/cronjob.yaml
  kubernetes/infrastructure/automation/renovate/kustomization.yaml
  kubernetes/infrastructure/automation/renovate/secret.sops.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/renovate/namespace.yaml
  kubernetes/renovate/secret.yaml
Due: sops-auto-encrypt

feat: playbook to update k3s + bump version
  ansible/CLAUDE.md
  ansible/playbooks/k3s_upgrade.yml
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/upgrade.yml
Due: ansible-lint

address comments
  ansible/playbooks/k3s_upgrade.yml
Due: ansible-lint

feat: playbook to update k3s + bump version (#241)
  ansible/CLAUDE.md
  ansible/playbooks/k3s_upgrade.yml
  ansible/roles/k3s/defaults/main.yml
  ansible/roles/k3s/tasks/upgrade.yml
Due: ansible-lint

fix(renovate): flux was not decrypting sops secrets
  kubernetes/clusters/production/ks/05-automation-renovate.yaml
Due: none

chore(deps) Update cstaelen/tidarr Docker tag to v1.1.9
  kubernetes/apps/apps/media/tidarr/helmrelease.yaml
Due: none

chore(deps) Update cstaelen/tidarr Docker tag to v1.1.9 (#242)
  kubernetes/apps/apps/media/tidarr/helmrelease.yaml
Due: none

chore(deps) Update dependency open-webui/open-webui to v0.8.2
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
Due: none

chore(deps) Update dependency open-webui/open-webui to v0.8.2 (#243)
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
Due: none

feat(paperless): scheduled backup job
  kubernetes/apps/apps/paperless/backup-job.yaml
  kubernetes/apps/apps/paperless/helmrelease.yaml
  kubernetes/apps/apps/paperless/kustomization.yaml
Due: none

fix(longhorn): pin a hotfix version for a webhook issue
  kubernetes/infrastructure/storage/longhorn/install/helmrelease.yaml
Due: none

chore(terraform): commit tfvars
  .gitignore
  terraform/k3s_nodes/terraform.tfvars
Due: none

feat(terraform): add option for ballooning on memory
  terraform/CLAUDE.md
  terraform/k3s_nodes/main.tf
  terraform/k3s_nodes/variables.tf
Due: terraform-fmt

feat(external-proxy): add entry for nextcloud
  kubernetes/apps/apps/external-proxy/kustomization.yaml
  kubernetes/apps/apps/external-proxy/nextcloud.yaml
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
Due: none

chore(llama-swap): update version
  kubernetes/apps/apps/ai/llama-swap/helmrelease.yaml
Due: none

chore(openwebui): add llama-swap env variable
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
Due: none

feat: install paperless-ai
  kubernetes/apps/apps/paperless/kustomization.yaml
  kubernetes/apps/apps/paperless/paperless-ai-helmrelease.yaml
Due: none

flux: install paperless-gpt
  kubernetes/apps/apps/paperless/kustomization.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-helmrelease.yaml
  kubernetes/apps/apps/paperless/paperless-gpt-secrets.sops.yaml
Due: sops-auto-encrypt

feat: install searxng
  kubernetes/apps/apps/utils/searxng/helmrelease.yaml
  kubernetes/apps/apps/utils/searxng/kustomization.yaml
  kubernetes/apps/apps/utils/searxng/searxng-secrets.sops.yaml
  kubernetes/apps/production/kustomization.yaml
Due: sops-auto-encrypt

chore(deps) Update dependency open-webui/open-webui to v0.8.3
  kubernetes/apps/apps/ai/openwebui/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
