Repository nreymundo/home-lab-iac: changes, and which pre-commit hooks are due for each by the changed paths.
All: ansible-lint, packer-fmt, terraform-fmt, sops-auto-encrypt

ansible-lint:
  name: ansible-lint
  entry: env ANSIBLE_CONFIG=ansible/ansible.cfg ansible-lint
  language: system
  args:
  - --project-dir
  - ansible
  pass_filenames: true
  always_run: false

packer-fmt:
  name: Packer fmt
  entry: packer fmt -recursive packer/
  language: system
  pass_filenames: false

terraform-fmt:
  name: Terraform fmt
  entry: terraform -chdir=terraform fmt
  language: system
  pass_filenames: false

sops-auto-encrypt:
  name: Auto-encrypt *.sops.yaml with sops (skip if already encrypted)
  entry: scripts/sops-auto-encrypt.sh
  language: system
  pass_filenames: true

chore(deps): Update linuxserver/plex Docker tag to v1.43.3
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

chore(deps): Update linuxserver/plex Docker tag to v1.43.3 (#795)
  kubernetes/apps/apps/media/plex/helmrelease.yaml
Due: none

chore(deps): Update taxel/plextraktsync Docker tag to v0.35.16
  kubernetes/apps/apps/media/plextraktsync/helmrelease.yaml
Due: none

chore(deps): Update taxel/plextraktsync Docker tag to v0.35.16 (#796)
  kubernetes/apps/apps/media/plextraktsync/helmrelease.yaml
Due: none

chore(deps): Update Helm release cert-manager to v1.21.0
  kubernetes/infrastructure/security/cert-manager/install/helmrelease.yaml
Due: none

fix(monitoring): update ServiceMonitor port for cert-manager v1.21.0
  kubernetes/infrastructure/security/cert-manager/config/servicemonitor-cert-manager.yaml
Due: none

chore(deps): Update Helm release cert-manager to v1.21.0 (#789)
  kubernetes/infrastructure/security/cert-manager/config/servicemonitor-cert-manager.yaml
  kubernetes/infrastructure/security/cert-manager/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.12.3
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.12.3 (#797)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.31.1
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update n8nio/n8n Docker tag to v2.31.1 (#798)
  kubernetes/apps/apps/automation/n8n/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.4.3
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.4.3 (#799)
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.12.4
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.12.4 (#800)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.12.5
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update immich-app/immich-server Docker tag to v3.0.3
  kubernetes/apps/apps/immich/helmrelease.yaml
Due: none

chore(deps): Update immich-app/immich-server Docker tag to v3.0.3 (#802)
  kubernetes/apps/apps/immich/helmrelease.yaml
Due: none

feat(authentik): add NetBird SSO application
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/netbird-sso-secret.sops.yaml
Due: sops-auto-encrypt

feat(authentik): add NetBird SSO application (#803)
  kubernetes/apps/apps/utils/homepage/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
  kubernetes/infrastructure/security/authentik/install/helmrelease.yaml
  kubernetes/infrastructure/security/authentik/install/kustomization.yaml
  kubernetes/infrastructure/security/authentik/install/netbird-sso-secret.sops.yaml
Due: sops-auto-encrypt

fix(authentik): enable NetBird authorization code flow
  kubernetes/infrastructure/security/authentik/install/blueprint-bootstrap-cm.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.12.5 (#801)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update immich-app/immich-machine-learning Docker tag to v3.0.3
  kubernetes/apps/apps/immich/helmrelease.yaml
Due: none

chore(deps): Update Helm release node-feature-discovery to v0.19.0
  kubernetes/infrastructure/node-feature-discovery/helmrelease.yaml
Due: none

chore(deps): Update Helm release node-feature-discovery to v0.19.0 (#805)
  kubernetes/infrastructure/node-feature-discovery/helmrelease.yaml
Due: none

chore(deps): Update immich-app/immich-machine-learning Docker tag to v3.0.3 (#804)
  kubernetes/apps/apps/immich/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.13.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release kube-prometheus-stack to v87.13.0 (#806)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(ansible): deploy NetBird control plane
  .sops.yaml
  ansible/playbooks/netbird.yml
  ansible/roles/containers/netbird/defaults/main.yml
  ansible/roles/containers/netbird/handlers/main.yml
  ansible/roles/containers/netbird/tasks/main.yml
  ansible/roles/containers/netbird/templates/config.yaml.j2
  ansible/roles/containers/netbird/templates/dashboard.env.j2
  ansible/roles/containers/netbird/templates/docker-compose.yml.j2
  ansible/roles/containers/netbird/templates/netbird-compose.service.j2
  ansible/roles/containers/netbird/templates/netbird-update.service.j2
  ansible/roles/containers/netbird/templates/netbird-update.timer.j2
  ansible/roles/containers/netbird/templates/proxy.env.j2
  ansible/roles/containers/netbird/templates/traefik-dynamic.yaml.j2
  ansible/secrets/README.md
  ansible/secrets/netbird.sops.yml
Due: ansible-lint, sops-auto-encrypt

feat(ansible): deploy NetBird control plane (#807)
  .sops.yaml
  ansible/playbooks/netbird.yml
  ansible/roles/containers/netbird/defaults/main.yml
  ansible/roles/containers/netbird/handlers/main.yml
  ansible/roles/containers/netbird/tasks/main.yml
  ansible/roles/containers/netbird/templates/config.yaml.j2
  ansible/roles/containers/netbird/templates/dashboard.env.j2
  ansible/roles/containers/netbird/templates/docker-compose.yml.j2
  ansible/roles/containers/netbird/templates/netbird-compose.service.j2
  ansible/roles/containers/netbird/templates/netbird-update.service.j2
  ansible/roles/containers/netbird/templates/netbird-update.timer.j2
  ansible/roles/containers/netbird/templates/proxy.env.j2
  ansible/roles/containers/netbird/templates/traefik-dynamic.yaml.j2
  ansible/secrets/README.md
  ansible/secrets/netbird.sops.yml
Due: ansible-lint, sops-auto-encrypt

chore(deps): Update Helm release kube-prometheus-stack to v87.14.0
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

feat(netbird): add Kubernetes ingress proxy
  ansible/roles/containers/netbird/defaults/main.yml
  ansible/roles/containers/netbird/tasks/main.yml
  ansible/roles/containers/netbird/templates/docker-compose.yml.j2
  ansible/secrets/README.md
  ansible/secrets/netbird.sops.yml
  kubernetes/clusters/production/ks/27-netbird-operator-install.yaml
  kubernetes/clusters/production/ks/28-netbird-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/networking/netbird/README.md
  kubernetes/infrastructure/networking/netbird/config/kustomization.yaml
  kubernetes/infrastructure/networking/netbird/config/networkrouter.yaml
  kubernetes/infrastructure/networking/netbird/config/traefik-networkresource.yaml
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
  kubernetes/infrastructure/networking/netbird/install/kustomization.yaml
  kubernetes/infrastructure/networking/netbird/install/netbird-operator-api-key.sops.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
  kubernetes/infrastructure/sources/netbird.yaml
  terraform/cloud/hetzner/firewall/firewall_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

fix(netbird): address ingress deployment reviews
  ansible/roles/containers/netbird/templates/docker-compose.yml.j2
  ansible/secrets/README.md
  kubernetes/clusters/production/ks/27-netbird-operator-install.yaml
  kubernetes/infrastructure/networking/netbird/README.md
  terraform/cloud/hetzner/firewall/firewall_definition.tf
Due: ansible-lint, terraform-fmt

feat(netbird): add Kubernetes ingress proxy (#809)
  ansible/roles/containers/netbird/defaults/main.yml
  ansible/roles/containers/netbird/tasks/main.yml
  ansible/roles/containers/netbird/templates/docker-compose.yml.j2
  ansible/secrets/README.md
  ansible/secrets/netbird.sops.yml
  kubernetes/clusters/production/ks/27-netbird-operator-install.yaml
  kubernetes/clusters/production/ks/28-netbird-config.yaml
  kubernetes/clusters/production/ks/kustomization.yaml
  kubernetes/infrastructure/config/namespaces.yaml
  kubernetes/infrastructure/networking/netbird/README.md
  kubernetes/infrastructure/networking/netbird/config/kustomization.yaml
  kubernetes/infrastructure/networking/netbird/config/networkrouter.yaml
  kubernetes/infrastructure/networking/netbird/config/traefik-networkresource.yaml
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
  kubernetes/infrastructure/networking/netbird/install/kustomization.yaml
  kubernetes/infrastructure/networking/netbird/install/netbird-operator-api-key.sops.yaml
  kubernetes/infrastructure/sources/kustomization.yaml
  kubernetes/infrastructure/sources/netbird.yaml
  terraform/cloud/hetzner/firewall/firewall_definition.tf
Due: ansible-lint, terraform-fmt, sops-auto-encrypt

fix(netbird): target self-hosted Traefik
  kubernetes/infrastructure/networking/netbird/config/traefik-networkresource.yaml
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/service-netbird.yaml
Due: none

fix(netbird): rotate operator API token
  kubernetes/infrastructure/networking/netbird/install/netbird-operator-api-key.sops.yaml
Due: sops-auto-encrypt

fix(netbird): wait for Traefik configuration
  kubernetes/clusters/production/ks/28-netbird-config.yaml
Due: none

fix(netbird): target self-hosted Traefik (#810)
  kubernetes/clusters/production/ks/28-netbird-config.yaml
  kubernetes/infrastructure/networking/netbird/config/traefik-networkresource.yaml
  kubernetes/infrastructure/networking/netbird/install/helmrelease.yaml
  kubernetes/infrastructure/networking/netbird/install/netbird-operator-api-key.sops.yaml
  kubernetes/infrastructure/networking/traefik/config/kustomization.yaml
  kubernetes/infrastructure/networking/traefik/config/service-netbird.yaml
Due: sops-auto-encrypt

chore(deps): Update Helm release kube-prometheus-stack to v87.14.0 (#808)
  kubernetes/infrastructure/observability/kube-prometheus-stack/install/helmrelease.yaml
Due: none

chore(deps): Update Helm release loki to v18.4.4
  kubernetes/infrastructure/observability/loki/install/helmrelease.yaml
Due: none

Path conditions:
  ansible-lint: any of: ^ansible/.*\.(ya?ml|j2|cfg|ini)$
  packer-fmt: any of: ^packer/.*\.pkr\.hcl$
  terraform-fmt: any of: ^terraform/.*\.tf$
  sops-auto-encrypt: any of: \.sops\.ya?ml$
